{% load staticfiles %}
<!--Popular destinations-->

	<div class="row" style="min-height: 220px" id="day-trips-here">
		
		<center><h2 style="color: #CF000F; font-weight: bold; font-family: tahoma;background-color: pink; padding: 5px" onmouseover="this.style.color='red'" onmouseleave="this.style.color='#CF000F'"><i class="fa fa-bus" aria-hidden="true" ></i> DAY TRIPS</h2></center>
		<hr>
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/bangalore-city-tour/">
				<img src="{% static './images/daytrips/5802382ab8399.jpg' %}" class="img-responsive bangalore" alt="place1" style="min-height: 247px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/bangalore-city-tour/" style="color: white; "><center><h2>Bangalore city <br> tour</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/daytrips/img_4728.jpg' %}" alt="place2" class="img-responsive bangalore" >
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/mysore/" style="color: white;"><center><h2>Mysore</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 200px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/daytrips/nandi_hills_001.jpg' %}" alt="place2" class="img-responsive bangalore" >
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/nandi-hills/" style="color: white;"><center><h2>Nandi hills</h2></center></a>
            </div>
		</div>
	</div>
	<br>
	<div class="row" style="min-width: 220px">
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/air-port/">
				<img src="{% static './images/daytrips/banalorenew02.jpg' %}" class="img-responsive bangalore" alt="place1" style="min-height: 277px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/air-port/" style="color: white; "><center><h2>Airport</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/shivanasamudra-hills/">
				<img src="{% static './images/daytrips/32937_7243.jpg' %}" alt="place2" class="img-responsive bangalore" style="min-height: 250px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/shivanasamudra-hills/" style="color: white;"><center><h2>shivanasamudra <br>falls</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 200px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/daytrips/talakadu.jpg' %}" alt="place2" class="img-responsive bangalore" >
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Talakadu</h2></center></a>
             
            </div>
		</div>
	</div>
	<br>
	<!--3RD ROW-->
	<div class="row" style="min-width: 220px">
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/daytrips/Hogenakkal1.jpg' %}" class="img-responsive bangalore" alt="place1" style="min-height: 277px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/north-indian-temples" style="color: white; "><center><h2>Hogenakkal</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/daytrips/Mekedaatu.jpg' %}" alt="place2" class="img-responsive bangalore" style="min-height: 250px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Sangam</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 200px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/daytrips/1444807530_img_20151010_110735_01.jpeg' %}" alt="place2" class="img-responsive bangalore" >
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Avalabetta</h2></center></a>
            </div>
		</div>
	</div>
	<br>
	<!--4TH ROW-->
	<div class="row" style="min-width: 220px">
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/daytrips/img_b09cd96b38189fb656c7ef6803e661ac_1489644082495_original.jpg' %}" class="img-responsive bangalore" alt="place1" style="min-height: 277px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/north-indian-temples" style="color: white; "><center><h2>Savandurga</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/daytrips/ctafort.jpg' %}" alt="place2" class="img-responsive bangalore" style="min-height: 278px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Chitradurga</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 200px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/lepakshi.png' %}" alt="place2" class="img-responsive bangalore"  style="min-height: 278px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Lepakshi</h2></center></a>
            </div>
		</div>
	</div>
	<br>
	<!--5TH ROW-->
	<div class="row" style="min-width: 220px">
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static 'images/daytrips/bckgi1.jpg' %}" class="img-responsive bangalore" alt="place1" style="min-height: 277px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/north-indian-temples" style="color: white; "><center><h2>Yelagiri</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/daytrips/6.jpg' %}" alt="place2" class="img-responsive bangalore" style="min-height: 276px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Kolar</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/Wonderla.jpg' %}" alt="place2" class="img-responsive bangalore" style="min-height: 276px">
			</a>
			
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Wonderla</h2></center></a>
            </div>
		</div>
	</div>
<br>
<hr>

