<br>
<br>
<hr>
<div class="col-md-6 col-sm-6 col-xs-12" style="border:1px solid black; background-color: pink; min-height:435px"> 
	
			<center>
				
				<h2 style="color:red; font-family: tahoma; font-weight: bold">Local Booking </h2>
			</center>

			<hr>
	         <table class="table table-hover">
              <thead>
                <tr>
                  <th>Type<br></th>
                
                  <th>8 hour/80 km<br></th>
                  
                  <th>Extra hours<br></th>
                  <th>Extra kms<br></th>
                  <th>Bata<br></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>4+1 (INDICA, AC)</td>
                  
                  <td>1300</td>
                 
                  <td>100</td>
                  <td>8</td>
                  <td>&#8377; 250</td>
                </tr>

                <tr>
                  <td>4+1 (ALL, AC)</td>
                  
                  <td>1500</td>
               
                  <td>150</td>
                  <td>10</td>
                  <td>&#8377; 250</td>
                </tr>
                <tr>
                  <td>5+1</td>
                 
                  <td>2000</td>
                
                  <td>200</td>
                  <td>12</td>
                  <td>&#8377; 300</td>
                </tr>
                <tr>
                  <td>8+1</td>
                  
                  <td>2000</td>
               
                  <td>200</td>
                  <td>11</td>
                  <td>&#8377; 300</td>
                </tr>
                <tr>
                  <td>12+1, AC</td>
                  
                  <td>2700</td>
             
                  <td>250</td>
                  <td>15</td>
                  <td>&#8377; 300</td>
                </tr>
                <tr>
                  <td>12+1, NON AC</td>
                 
                  <td>2500</td>
               
                  <td>200</td>
                  <td>13</td>
                  <td>&#8377; 300<br><br></td>
                </tr>
              </tbody>
            </table>
</div>



<div class="col-md-6  col-sm-6 col-xs-12" id="contact_now">
    <div class="col-md-10 col-md-offset-2  col-xs-12" id="contact_now" style="background-color: pink; padding-bottom: 20px ">
        <center><h2 style="font-family:tahoma; color: red; font-weight: bold"><i class="fa fa-random" aria-hidden="true"></i> Book your vehicle</h2></center>

        <div class="itemzoom2" style="padding:2px">
            <!-- br> -->
            <form method="POST" onsubmit="return sendLocalBookingData(event)" name="contactForm">{% csrf_token %}
              <div class="form-group">
                <br>
                <label for="fname">Full name*</label>
                <input type="fname" class="form-control" id="fname" placeholder="Dolly Shemroon" name="fname" required="true" data-toggle="tooltip" title="Your full name">
              </div>

              <div class="form-group">
                <label for="email">Email*</label>
                <input type="email" class="form-control" id="email" placeholder="sure.cabs@gmail.com" name="email" required="true" data-toggle="tooltip" title="Your email id">
              </div>

              <div class="form-group">
                <label for="contact"><span style="color: green"><i class="fa fa-mobile fa-1x" aria-hidden="true"></i> Contact Number</span >*</label>
                <input type="text" class="form-control" id="contact" placeholder="7917291992" name="contact" data-toggle="tooltip" title="Your contact number" required="true" maxlength="10" pattern="^([789])([0-9]{9})$" title="Mobile number(having 10 digits) should start with 7 or 8 or 9" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
              </div>

              <div class="form-group">
                <label for="select">Vehicles* &nbsp;</label> 
                <select class="selectpicker" name="vehicle" id="select">
                  {% for vehicle in vehicles %}
                      {% if not vehicle.pk == 2 and not vehicle.pk == 3 and not vehicle.pk == 8 %}
                          <option value="{{vehicle.name}}">
                              {{ vehicle.name }}
                          </option>
                      {% endif %}
                  {% endfor %}
                </select>
              </div>
              <br>
              
              <input type="submit" class="btn btn-block btn-danger" data-toggle="tooltip" title="Submit your question" value="Contact Now" style="margin-bottom: 10px">

            </form>

          </div>
        </div>
      </div>

