<!-- BOOKING AND SHIPPING DETAILS -->
<div class="row">
	<div class="col-md-12 col-xs-12">
		<br>
		<br>
		<br>
		<hr>
		<center>
			<h2 style="color: white; font-weight: bold; font-family: tahoma;background-color: #F62459; padding: 5px" onmouseover="this.style.color='#FDE3A7'" onmouseleave="this.style.color='white'" data-toggle="tooltip" title="Check your booking details">

				<i class="fa fa-recycle" aria-hidden="true"></i> Booking Details
			</h2>
		</center>	
	</div>
</div>

<!-- ^Confirm Booking -->
<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="panel panel-success" style="border: 1px solid red">
			<!-- PANEL HEADING -->
		  	<div class="panel-heading">
		  		<center><i class="fa fa-check" aria-hidden="true"></i> <span style="font-weight: bold; font-size: 20px" data-toggle="tooltip" title="Please confirm your booking">Confirm your booking</span>
		  		</center>
		  	</div>
		  	<!-- PANEL BODY -->
		  	<div class="panel-body">
		  		<p class="p_text">
		  			<i class="fa fa-star" aria-hidden="true"></i> Confirm your booking by paying the advance amount online, advance ensures your booking is confirmed.
		  		</p>
		  		<p class="p_text">
					<i class="fa fa-star" aria-hidden="true"></i> I agree that I pay the extra charges (wherever applicable) like interstate permit, tolls, parking, and night driving allowance (if any).
				</p>

				<p class="p_text">
					<i class="fa fa-star" aria-hidden="true"></i> Pay Advance  3000 to confirm.
				</p>

				<p class="p_text">
					<a role="button" class="btn btn-primary" style='font-weight: bold; font-size: 20px' data-toggle="tooltip" title="Paypal is our default payment gateway">
						<i class="fa fa-money" aria-hidden="true"></i> 
						Pay Now through Paypal

					</a>
				</p>

				<p class="p_text">
					<i class="fa fa-star" aria-hidden="true"></i> Transactions on this site are safe and secure as indicated.<b>Paypal</b> is Prefered Gatway Partner for more than 250,000 Sellers and it attains 2,000,000+ transactions per month.
				</p>

				<p class="p_text">
					<i class="fa fa-star" aria-hidden="true"></i> If there is any technical error with <b>Paypal</b>, you can do the payment to <b> 9590331111</b> through paytm. 
				</p>
				<p class="p_text">
					<i class="fa fa-star" aria-hidden="true"></i> Once the payment is done please inform us. 
				</p>
		  	</div>
		</div>
	</div>
</div>
<hr>
<!-- Confirm Booking$ -->

<!-- ^Order and billing details -->
<div class="row">
	<!--Booking details-->
	<div class="col-md-6 col-xs-12">
		<div class="panel panel-success" style="border: 1px solid green">
			<!-- PANEL HEADING -->
		  	<div class="panel-heading">
		  		<center> <span style="font-weight: bold; font-size: 20px" data-toggle="tooltip" title="Please confirm your booking"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Booking details</span>
		  		</center>
		  	</div>
		  	<!-- PANEL BODY -->
		  	<div class="panel-body">
					  <table class="table table-hover">
					    <!-- <thead>
					      <tr>
					        <th></th>
					        <th>Lastname</th>
					      </tr>
					    </thead> -->
					    <tbody>
					      <tr>
					        <td>
					        	<span class="t_title">BOOKING ID</span>
					        </td>
					        <td>
					        	<span class="t_value" id="booking_id">
					        		<i class="fa fa-spinner" aria-hidden="true"></i>
					        	</span>
					        	<!-- <span class="t_value">SURECABS2017-200</span> -->
					        </td>
					      </tr>

					       <tr>
					         <td>
					        	<span class="t_title">SELECTED VEHICLE</span>
					        </td>
					        <td>
					        	<!-- <span class="t_value">{{selected_vehicle}}</span> -->
					        	<span class="t_value" id="selected_vehicle">
					        		<i class="fa fa-spinner" aria-hidden="true"></i>
					        	</span>
					        </td>
					      </tr>

					      <tr>
					         <td>
					        	<span class="t_title" >SOURCE CITY</span>
					        </td>
					        <td>
					        	<!-- <span class="t_value">{{source_city}}</span> -->
					        	<span class="t_value" id="source_city">
					        		<i class="fa fa-spinner" aria-hidden="true"></i>
					        	</span>
					        </td>
					      </tr>

					      <tr>
					         <td>
					        	<span class="t_title">DESTINATION CITY</span>
					        </td>
					        <td>
					        	<!-- <span class="t_value">{{destination_city}}</span> -->
					        	<span class="t_value"  id="destination_city">
					        		<i class="fa fa-spinner" aria-hidden="true"></i>
					        	</span>
					        </td>
					      </tr>
					       <tr>
					         <td>
					        	<span class="t_title">PICK UP DATE</span>
					        </td>
					        <td>
					        	<!-- <span class="t_value">{{pick_up_day}}</span> -->
					        	<span class="t_value" id="pick_up_day">
					        		<i class="fa fa-spinner" aria-hidden="true"></i>
					        	</span>
					        </td>
					      </tr>

					      <tr>
					         <td>
					        	<span class="t_title">RETURN DATE</span>
					        </td>
					        <td>
					        	<!-- <span class="t_value">{{pick_up_day}}</span> -->
					        	<span class="t_value" id="return_day">
					        		<i class="fa fa-spinner" aria-hidden="true"></i>
					        	</span>
					        </td>
					      </tr>

					       <tr>
					         <td>
					        	<span class="t_title">DURATION</span>
					        </td>
					        <td>
					        	<!-- <span class="t_value">{{duration}} days</span> -->
					        	<span class="t_value" id="duration">
					        		<i class="fa fa-spinner" aria-hidden="true"></i>
					        	</span> day(s)
					        </td>
					      </tr>

					       <tr>
					         <td>
					        	<span class="t_title">PASSENGERS</span>
					        </td>
					        <td>
					        	<!-- <span class="t_value">{{passengers}}</span> -->
					        	<span class="t_value" id="passengers">
					        		<i class="fa fa-spinner" aria-hidden="true"></i>
					        	</span> passengers
					        </td>
					      </tr>
					    </tbody>
					  </table>
		  	</div>
		</div>
	</div>

	<!--Billing details-->
	<div class="col-md-6 col-xs-12">
		<div class="panel panel-danger" style="border: 1px solid red">
			<!-- PANEL HEADING -->
		  	<div class="panel-heading">
		  		<center> <span style="font-weight: bold; font-size: 20px" data-toggle="tooltip" title="Please confirm your booking"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Billing details</span>
		  		</center>
		  	</div>
		  	<!-- PANEL BODY -->
		  	<div class="panel-body">
		  		
		  			<table class="table table-hover">
					    <!-- <thead>
					      <tr>
					        <th></th>
					        <th>Lastname</th>
					      </tr>
					    </thead> -->
					    <tbody>
					      <tr>
					        <td>
					        	<span class="t_title" >Minimum kms/day</span>
					        </td>
					        <td>
					        	<!-- <span class="t_value">{{minimum_kilometers_per_day}}</span> -->
					        	<span class="t_value"><b id="min_km_per_day">
					        		<i class="fa fa-spinner" aria-hidden="true"></i>
					        	</b> kilometers</span>
					        </td>
					      </tr>

					       <tr>
					         <td>
					        	<span class="t_title">Price per/km</span>
					        </td>
					        <td>
					        	<!-- <span class="t_value">&#8377;  {{price_per_km}}</span> -->
					        	<span class="t_value" >&#8377; <b id="price_per_km">
					        		<i class="fa fa-spinner" aria-hidden="true"></i>
					        	</b></span>
					        </td>
					      </tr>

					      <tr>
					         <td>
					        	<span class="t_title">Driver Bata</span>
					        </td>
					        <td>
					        	<!-- <span class="t_value">&#8377;  {{driver_bata}}</span> -->
					        	<span class="t_value">&#8377; <b id="driver_bata">
					        		<i class="fa fa-spinner" aria-hidden="true"></i>
					        	</b></span>
					        </td>
					      </tr>

					      <tr>
					         <td>
					        	<span class="t_title">Estimated Fare</span>
					        </td>
					        <td>
					        	<!-- <span class="t_value">&#8377; {{estimated_fare}}</span> -->
					        	<span class="t_value">&#8377; <b id="estimated_fare">
					        		<i class="fa fa-spinner" aria-hidden="true"></i>
					        	</b> (Excluding Driver Bata)</span>
					        </td>
					      </tr>

					       

					       <tr>
					         <td>
					        	<span class="t_title">Advanced paid</span>
					        </td>
					        <td>
					        	<!-- <span class="t_value">{{advanced_paid}}</span> -->
					        	<span class="t_value">&#8377; <b id="advance_paid">
					        	<i class="fa fa-spinner" aria-hidden="true"></i>
					        	</b></span>
					        </td>
					      </tr>

					       <tr>
					         <td>
					        	<span class="t_title">Discount</span>
					        </td>
					        <td>
					        	<!-- <span class="t_value">{{discount}} days</span> -->
					        	<span class="t_value"><b id="discount">
					        		<i class="fa fa-spinner" aria-hidden="true"></i>
					        	</b>%</span>
					        </td>
					      </tr>

					       <tr>
					         <td>
					        	<span class="t_title">Extras</span>
					        </td>
					        <td>
					        	<span class="t_value" style="color:#CF000F; font-family: tahoma">Toll, Parking, Interstate Permit Charges are extra.<br> if the driver drives in the night, night driving allowance <br>is applicable and extra. You can utilize/spend 2000<br> kms as per your requirement over 8 days</span>
					        </td>
					      </tr>
					    </tbody>
					  </table>
		  	</div>
		</div>
	</div>
</div>
<!-- Order and billing details$ -->
