  {% load staticfiles %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1900">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide img-responsive" src="{% static 'images/south/anantha-padmanabha-swamy-vratham-telugu.jpg' %}" alt="Brihadeeswarar temple">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_u">Padmanabhaswamy</span>
                <span class="span_s">Temple</span>
              </h1>
              <p>Padmanabhaswamy Temple is located in Thiruvananthapuram, Kerala, India. The temple is built in an intricate fusion of the indigenous Kerala style and the Dravidian style of architecture associated with ..</p>
              <p><a class="btn btn-lg btn-success" href="https://en.wikipedia.org/wiki/Padmanabhaswamy_Temple" role="button">Wikipedia &raquo;</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide img-responsive" src="http://static.thousandwonders.net/Meenakshi.Amman.Temple.original.2676.jpg" alt="Meenakhi Amman temple">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_e">Meenakshi Amman </span>
                <span class="span_r">Temple</span>
              </h1>
              <p>Meenakshi Temple is a historic Hindu temple located on the southern bank of the Vaigai River in the temple city of Madurai, Tamil Nadu, India. It is dedicated to Parvati, known as Meenakshi, and her consort, Shiva, here named Sundareswarar</p>
              <p><a class="btn btn-lg btn-primary" href="https://en.wikipedia.org/wiki/Meenakshi_Temple" role="button">Wikipedia &raquo;</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="third-slide img-responsive" src="http://2.bp.blogspot.com/-PJVsNmaOZOE/Uu0ViXTievI/AAAAAAAAC5I/SvzUu35NfCM/s1600/view.jpg" alt="Titumala">
          <div class="container">
            <div class="carousel-caption">
               <h1>
                <span class="span_e">Tirumala</span>
                <span class="span_r">Temple</span>
              </h1>
              <p>Venkateswara Temple is a landmark Vaishnavite temple situated in the hill town of Tirumala at Tirupati in Chittoor district of Andhra Pradesh, India.</p>
              <p><a class="btn btn-lg btn-success" href="https://en.wikipedia.org/wiki/Venkateswara_Temple,_Tirumala" role="button">Wikipedia &raquo;</a></p>
            </div>
          </div>
        </div>
 
         <div class="item">
          <img class="fifth-slide img-responsive" src="http://www.wallpaperswidefree.com/images/Hindu-Temple-in-Tamil-Nadu-hd-wallpapers.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_u">Padmanabhaswamy </span>
                <span class="span_s">Temple</span>
              </h1>
              <p>Padmanabhaswamy Temple is located in Thiruvananthapuram, Kerala, India. The temple is built in an intricate fusion of the indigenous Kerala style and the Dravidian style of architecture associated with...</p>
              <p><a class="btn btn-lg btn-success" href="https://en.wikipedia.org/wiki/Padmanabhaswamy_Temple" role="button">Wikipedia &raquo;</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="second-slide img-responsive" src="http://static.thousandwonders.net/Meenakshi.Amman.Temple.original.2676.jpg" alt="Meenakhi Amman temple">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_e">Meenakshi Amman </span>
                <span class="span_r">Temple</span>
              </h1>
              <p>Meenakshi Temple is a historic Hindu temple located on the southern bank of the Vaigai River in the temple city of Madurai, Tamil Nadu, India. It is dedicated to Parvati, known as Meenakshi, and her consort, Shiva, here named Sundareswarar</p>
              <p><a class="btn btn-lg btn-primary" href="https://en.wikipedia.org/wiki/Meenakshi_Temple" role="button">Wikipedia &raquo;</a></p>
            </div>
          </div>
        </div>
        
      </div> 
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->