  {% load staticfiles %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1900">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <!-- <li data-target="#myCarousel" data-slide-to="3"></li> -->
        <!-- <li data-target="#myCarousel" data-slide-to="4"></li> -->
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide img-responsive" src="http://blog.gyanlab.com/wp-content/uploads/2015/08/9_Vidhana-Soudha.jpg" alt="Vaisno devi">
          <div class="container">
              <div class="carousel-caption">
                <h1>
                  <span class="span_u">Vidhan</span>
                  <span class="span_s">Soudha</span>
                </h1>
              </div>
            </div>
          <!-- <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_u">Vidhana</span>
                <span class="span_s">Soudha</span>
              </h1>
              <p>
                The Vidhana Soudha located in Bengaluru, is the seat of the state legislature of Karnataka. It is an imposing building, constructed in a style sometimes described as Mysore Neo-Dravidian, and incorporates...
              </p>
              <p><a class="btn btn-lg btn-danger" href="https://en.wikipedia.org/wiki/Vidhana_Soudha" role="button">Wikipedia &raquo;</a></p>
            </div>
          </div> -->
        </div>
        <div class="item">
          <img class="second-slide img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/ISKCON_Banglaore_Temple.jpg/1200px-ISKCON_Banglaore_Temple.jpg" alt="Kashi vishvanath temple">
            <div class="container">
              <div class="carousel-caption">
                <h1>
                  <span class="span_u">Iskcon</span>
                  <span class="span_s">Temple</span>
                </h1>
              </div>
            </div>
        </div>

        <div class="item">
          <img class="second-slide img-responsive" src="{% static './images/cubbon-park2.jpeg' %}" alt="Kashi vishvanath temple">
          <div class="container">
              <div class="carousel-caption">
                <h1>
                  <span class="span_u">Cubbon</span>
                  <span class="span_s">Park</span>
                </h1>
              </div>
            </div>
        </div>

        <!-- <div class="item">
          <img class="third-slide img-responsive" src="https://www.holidify.com/images/compressed/attractions/attr_1508.jpg" alt="ISKCON">
          <div class="container">
            <div class="carousel-caption">
               <h1>
                <span class="span_e">ISKCON</span>
                <span class="span_r">Temple(DELHI)</span>
              </h1>
              <p>Sri Sri Radha Parthasarathi Mandir (Hindi: श्री श्री राधा पार्थसारथी मन्दिर), generally known as the ISKCON Delhi temple, is a well known Vaishnav temple of Lord Krishna and Radharani in the form of Radha Parthasarathi. Opened in 1998, it is located at Hare Krishna Hills (Near Nehru Place), in ...</p>
              <p><a class="btn btn-lg btn-success" href="https://en.wikipedia.org/wiki/ISKCON_Temple_Delhi" role="button">Wikipedia &raquo;</a></p>
            </div>
          </div>
        </div> -->
 
         <!-- <div class="item">
          <img class="fifth-slide img-responsive" src="http://1.bp.blogspot.com/-SwoB_RpA3-k/VB7bqoIEz0I/AAAAAAAASJ8/xs_5pCLrL3c/s1600/amritsar%2Bgolden%2Btemple%2Bmorning1.jpg" alt="Golden temple">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_u">Golden </span>
                <span class="span_s">Temple</span>
              </h1>
              <p>Sri Harmandir Sahib, also Sri Darbar Sahib, informally referred to as the Golden Temple, is the holiest Gurdwara of Sikhism, located in the city of Amritsar, Punjab, India. Amritsar was founded in 1577 by the fourth Sikh guru, Guru Ram Das.</p>
              <p><a class="btn btn-lg btn-success" href="https://en.wikipedia.org/wiki/Golden_Temple" role="button">Wikipedia &raquo;</a></p>
            </div>
          </div>
        </div>
 -->
        <!-- <div class="item">
          <img class="third-slide img-responsive" src="{% static './images/Blue_Jaguar_F_Pace_2017_Car_HD_Wallpaper.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1><span class="span_e">No </span>
                  <span class="span_r">problem</span></h1>
              <p>We guarantee to provide you nice cabs/taxies</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Gone</a></p>
            </div>
          </div>
        </div> -->
      </div> 
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->