  {% load staticfiles %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <!-- <li data-target="#myCarousel" data-slide-to="4"></li> -->
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide img-responsive" src="{% static './images/comments3.jpg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_u">We like your</span>
                <span class="span_s">comments</span>
              </h1>
              <p>Commnets are very necessary to gather feedbacks</p>
              <p><a class="btn btn-lg btn-success" href="#log-mobi" role="button">Commnet now &raquo;</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide img-responsive" src="{% static './images/comments6-do-it.jpg' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_r">Do</span>
                <span class="span_e">comments</span>
                
              </h1>
              <p>It can be negative or positive, but we like it</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Comment now &raquo;</a></p>
            </div>
          </div>
        </div>
       <div class="item">
          <!-- <img class="third-slide img-responsive" src="{% static 'images/nissan_auto_black_street_87159_1920x1080.jpg' %}" alt="Third slide"> -->
          <img class="third-slide img-responsive" src="{% static 'images/comments2.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_r">Help us with your</span>
                <span class="span_e">comments</span>
              </h1>
              <p>You comment and we will improve our facilities</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Comment Now &raquo;</a></p>
            </div>
          </div>
        </div>
 
         <div class="item">
          <img class="fifth-slide img-responsive" src="{% static 'images/comments-busy-people.jpeg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_u">Don't forget to </span>
                <span class="span_s">comment</span>
              </h1>
              <p>Point out our mistakes, if we do</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Comment Now &raquo;</a></p>
            </div>
          </div>
        </div>


      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->