  {% load staticfiles %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
     <!--  <ol class="carousel-indicators"> -->
        <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li> -->
   <!--      <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li> -->
        <!-- <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li> -->
   <!--    </ol> -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img  class="first-slide img-responsive" src="{% static 'images/mac-many.jpg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
             {% include "carousels/quick_booking.html" %}
              <h1>
                <span class="span_r">Frequently</span>
                <span class="span_e">asked questions</span>
              </h1>
              <p>What people ask?</p>
              <p><a class="btn btn-lg btn-danger" href="#faqs" role="button">View FAQs &raquo;</a></p>
            </div>
          </div>
        </div>
        <!-- <div class="item">
          <img class="second-slide img-responsive" src="{% static './images/faqs-mac.jpg' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
             {% include "carousels/quick_booking.html" %}
              <h1>
                <span class="span_r">We soon answer</span>
                <span class="span_e">question</span>
              </h1>
              <p>We respect time and your questions,<br>You don't need to wait long</p>
              <p><a class="btn btn-lg btn-danger" href="#" role="button">Ask now &raquo;</a></p>
            </div>
          </div>
        </div> -->
       <!-- <div class="item">

          <img class="third-slide img-responsive" src="{% static 'images/faqs-mac-phone.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
             {% include "carousels/quick_booking.html" %}
              <h1><span class="span_e">Questions</span>
                <span class="span_r">will clarify the doubts</span></h1>
              <p>Don't hide anything in your mind, feel free to ask</p>
              <p><a class="btn btn-lg btn-danger" href="#" role="button">Ask now &raquo;</a></p>
            </div>
          </div>
        </div> -->

      </div>
      <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
    </div><!-- /.carousel -->