  {% load staticfiles %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
  <!--     <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li> -->
      <!--   <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li> -->
       <!--  <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li> -->
      <!-- </ol> -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide img-responsive" src="{% static './images/register2.jpg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
             {% include "carousels/quick_booking.html" %}
              <h1>
                <span class="span_u">Join</span>
                <span class="span_s">us</span>
              </h1>
              <p>Amazing chance to serve you people, join us to make it happen</p>
              <p><a class="btn btn-lg btn-danger" href="#log-mobi" role="button">Join now &raquo;</a></p>
            </div>
          </div>
        </div>
<!--         <div class="item">
          <img class="second-slide img-responsive" src="{% static './images/about-us-all.jpg' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
             {% include "carousels/quick_booking.html" %}
              <h1>
                <span class="span_e"> Contact number</span>
                <span class="span_r"> is sufficient</span>
              </h1>
              <p>Only your contact number is sufficient for us, you can better your profile later</p>
              <p><a class="btn btn-lg btn-danger" href="#" role="button">Register now &raquo;</a></p>
            </div>
          </div>
        </div>
       <div class="item">
          <img class="third-slide img-responsive" src="{% static 'images/register2.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
             {% include "carousels/quick_booking.html" %}
              <h1>
                <span class="span_e">Is</span>
                <span class="span_r">it? </span>
              </h1>
              <p>Yeah, we don't make things complex</p>
              <p><a class="btn btn-lg btn-danger" href="#" role="button">Let me join &raquo;</a></p>
            </div>
          </div>
        </div> -->
 
        <!--  <div class="item">
          <img class="fifth-slide img-responsive" src="{% static 'images/aboutus-car.png' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_u">We provide </span>
                <span class="span_s">Cars</span>
              </h1>
              <p>You can enjoy with your families, good for small family</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Get a cab &raquo;</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="fourth-slide img-responsive" src="{% static './images/Blue_Jaguar_F_Pace_2017_Car_HD_Wallpaper.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1><span class="span_e">We always guarantee</span>
                  <span class="span_r">for our service</span></h1>
              <p>Have a nice ride, we guarantee you for our excellent services</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Gone</a></p>
            </div>
          </div>
        </div>
      </div> -->
<!--       <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
  </div><!-- /.carousel -->