  {% load staticfiles %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide img-responsive" src="{% static './images/Home-Decoration-Anantara-Dhigu-font-b-Resort-b-font-font-b-Maldives-b-font-silk-canvas.jpg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
                <h3>
                  <a href="/" style="color:#04f9f1;font-family: tahoma; font-size: 30px">
                   <i> Sure cabs tours and travels</i>
                  </a>
                </h3>
              {% include "carousels/quick_booking.html" %}
              
              <p></p>
              <p><a class="btn btn-lg btn-default" href="#tab-content" role="button"><span style="color:red">Book now &raquo;</span></a></p>
            </div>
          </div>
        </div>

        <!--ITEM ENDS-->

        <div class="item">
          <!-- <img class="third-slide img-responsive" src="{% static 'images/cab7.jpg' %}" alt="Third slide"> -->
          <img class="third-slide img-responsive" src="{% static './images/kerala-logo.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              {% include "carousels/quick_booking.html" %}

               <!--  <h1><span class="span_e">Great</span>
                <span class="span_r">plans for you</span></h1> -->
                <h1><span class="span_e" style="color:#04f9f1;">Karnataka</span>
                <span class="span_r">packages</span></h1>
              <p style="color:black">We have great plans for you to make you feel happy with our rides</p>
              <!-- <p id="sure_site"><a href="/">www.surecabs.com</p> -->
              <p><a class="btn btn-lg btn-danger" href="#tab-content" role="button">Book now &raquo;</a></p>
            </div>
          </div>
        </div><!--ITEM ENDS-->
 
        <div class="item">
          <img class="second-slide img-responsive" src="{% static './images/sure-cabs3.jpg' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              {% include "carousels/quick_booking.html" %}
              <p><a class="btn btn-lg btn-danger" href="#tab-content" role="button">Book now &raquo;</a></p>
            </div>
          </div>
        </div><!--ITEM ENDS-->

         <div class="item">
          <img class="fifth-slide img-responsive" src="{% static './images/Coonoor.jpg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              {% include "carousels/quick_booking.html" %}

              <h1>
                <span style="color:#04f9f1;">Tamilnadu</span>
                <span class="span_s" style="color: white">packages</span>
              </h1>
              <p >We will try to make your journey so simple, with costs too</p>
              <!-- <p id="sure_site"><a href="/">www.surecabs.com</p> -->
              <p><a class="btn btn-lg btn-danger" href="#tab-content" role="button">Book now &raquo;</a></p>
            </div>
          </div>
        </div><!--ITEM ENDS-->

        <div class="item">
         <!--  <img class="third-slide img-responsive" src="{% static './images/cab6.jpg' %}" alt="Third slide"> -->
          <img class="third-slide img-responsive" src="{% static './images/kerala449.jpg' %}" alt="Third slide">
         
          <div class="container">
            <div class="carousel-caption">
              {% include "carousels/quick_booking.html" %}
              
              <h1><span class="span_e" style="color:#04f9f1;">Kerala</span>
                  <span class="span_r">packages</span></h1>
              <p>Come, View, Book and Enjoy Kerala tour</p>
              <!-- <p id="sure_site"><a href="/">www.surecabs.com</p> -->
              <p><a class="btn btn-lg btn-danger" href="#tab-content" role="button">Book now &raquo;</a></p>
            </div>
          </div>
        </div><!--ITEM ENDS-->
    </div> 

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>