  {% load staticfiles %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol> -->
      <div class="carousel-inner" role="listbox">
        <!-- <div class="item active">
          <img class="first-slide img-responsive" src="{% static './images/contact-us.jpg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
             {% include "carousels/quick_booking.html" %}
              <h1>
                <span class="span_u">Message</span>
                <span class="span_s">Us</span>
              </h1>
              <p>You can message us at any time, we are busy but free too</p>
              <p><a class="btn btn-lg btn-danger" href="#log-mobi" role="button">Message now &raquo;</a></p>
            </div>
          </div>
        </div> -->
        <div class="item active">
          <img class="second-slide img-responsive" src="{% static './images/contact2.jpg' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
             {% include "carousels/quick_booking.html" %}
              <h1>
                <span class="span_e">Don't forget</span>
                <span class="span_r">To</span>
              </h1>
              <p>give the mentioned details, it is for sake of your safety</p>
              <p><a class="btn btn-lg btn-danger" href="#" role="button">Message now &raquo;</a></p>
            </div>
          </div>
        </div>
<!--        <div class="item">
          <img class="third-slide img-responsive" src="{% static 'images/bangalore-airport.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1><span class="span_e">Get taxies</span>
                <span class="span_r">ealily</span></h1>
              <p>We have a great collections of comfortable taxies</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Taxi images</a></p>
            </div>
          </div>
        </div>
 
         <div class="item">
          <img class="fifth-slide img-responsive" src="{% static 'images/rinspeed_etos_concept-HD.jpg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_u">Save</span>
                <span class="span_s">money</span>
              </h1>
              <p>We don't apply any extra charge in any condition</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Get a cab &raquo;</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="third-slide img-responsive" src="{% static './images/Blue_Jaguar_F_Pace_2017_Car_HD_Wallpaper.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1><span class="span_e">No </span>
                  <span class="span_r">problem</span></h1>
              <p>We guarantee to provide you nice cabs/taxies</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Gone</a></p>
            </div>
          </div>
        </div>-->
      </div> 
      <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
    </div><!-- /.carousel -->