  {% load staticfiles %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1900">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <!-- <li data-target="#myCarousel" data-slide-to="4"></li> -->
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide img-responsive" src="https://indiawildlifetourism.files.wordpress.com/2013/03/periyar-national-park.jpg" alt="Periyar National Park">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_u">Periyar National</span>
                <span class="span_s">Park</span>
              </h1>
              <p>Periyar National Park, also known as Periyar Tiger Reserve, is in the mountainous Western Ghats of Kerala, southern India. This wildlife sanctuary is home to tigers and a significant elephant population, as well as rare lion-tailed macaques, sambar deer, leopards and Indian bison...</p>
              <p><a class="btn btn-lg btn-success" href="https://en.wikipedia.org/wiki/Periyar_National_Park" role="button">Wikipedia &raquo;</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Napier_Museum_Thiruvananthapuran_DSW_New.jpg/1200px-Napier_Museum_Thiruvananthapuran_DSW_New.jpg" alt="Napier Museum">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_e">Napier</span>
                <span class="span_r">Museum</span>
              </h1>
              <p>The Napier Museum is an art and natural history museum situated in Thiruvananthapuram, the capital city of Kerala, India ...</p>
              <p><a class="btn btn-lg btn-primary" href="https://en.wikipedia.org/wiki/Napier_Museum" role="button">Wikipedia &raquo;</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="third-slide img-responsive" src="https://www.ekeralatourism.net/wp-content/uploads/2016/12/tourist-destination-in-Thekkady.jpg" alt="Thekkady">
          <div class="container">
            <div class="carousel-caption">
               <h1>
                <span class="span_e">Thekkady</span>
                <span class="span_r">(Kerala)</span>
              </h1>
              <p>Thekkady is the location of the Periyar National Park, which is an important tourist attraction in the Kerala state of India...</p>
              <p><a class="btn btn-lg btn-success" href="https://en.wikipedia.org/wiki/Thekkady" role="button">Wikipedia &raquo;</a></p>
            </div>
          </div>
        </div>
 
         <div class="item">
          <img class="fifth-slide img-responsive" src="https://s-ec.bstatic.com/images/hotel/max1024x768/616/61610094.jpg" alt="Cherai Beach">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_u">Cherai</span>
                <span class="span_s">Beach</span>
              </h1>
              <p>Cherai Beach is located in Kochi Taluk, Kerala, India. Cherai Beach is just 25 km from Kochi, and 30 km from Cochin International Airport. The nearest towns are North Paravur and Kodungallur and the nearest railway station is Aluva...</p>
              <p><a class="btn btn-lg btn-success" href="https://en.wikipedia.org/wiki/Cherai_Beach" role="button">Wikipedia &raquo;</a></p>
            </div>
          </div>
        </div>

        <!-- <div class="item">
          <img class="third-slide img-responsive" src="{% static './images/Blue_Jaguar_F_Pace_2017_Car_HD_Wallpaper.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1><span class="span_e">No </span>
                  <span class="span_r">problem</span></h1>
              <p>We guarantee to provide you nice cabs/taxies</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Gone</a></p>
            </div>
          </div>
        </div> -->
      </div> 
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->