.span_u, .space_r{
	color:white;
}

.span_s, .span_e{
	color:#04f9f1;
}

.first-slide, .second-slide, .third-slide {
	opacity: 1;
}

@media only screen and(max-width: 500px){
	.myCarousel{
		height: 200px;
	}
}