		<div class="row">
			
      <!--COLUMN1-->
      <div class="col-md-8 col-xs-12" >
          <br>
          <br>
          <br>
          <hr>

          {% include "carousels/carousel_kerala_places.html" %}
           
          <p style="font-family: serif; padding: 10px; font-size: 18px; text-align: justify;">
          Kerala, a state on India's tropical Malabar Coast, has nearly 600km of Arabian Sea shoreline. It's known for its palm-lined beaches and backwaters, a network of canals. Inland are the Western Ghats, mountains whose slopes support tea, coffee and spice plantations as well as wildlife. National parks like Eravikulam and Periyar, plus Wayanad and other sanctuaries, are home to elephants, langur monkeys and tigers.<br><br>
          The production of pepper and natural rubber contributes significantly to the total national output. In the agricultural sector, coconut, tea, coffee, cashew and spices are important. The state's coastline extends for 595 kilometres (370 mi), and around 1.1 million people in the state are dependent on the fishery industry which contributes 3% to the state's income. The state has the highest media exposure in India with newspapers publishing in nine languages, mainly English and Malayalam. Kerala is one of the prominent tourist destinations of India, with backwaters, beaches, Ayurvedic tourism and tropical greenery as its major attractions.
          </p>
      </div>
		<hr>
    <!--COLUMN2-->
    <div class="col-md-4 col-xs-12" id="#quick-book">
       <!--  <br>
        <br> -->
        <br>
        <hr>
        <h2 class="text-center" id="comment_here" data-toggle="tooltip" title="We are waiting for your message"> <i class="fa fa-handshake-o" aria-hidden="true"></i> Quick<span style="color: green"> Booking </span></h2>
        <center>
            <span style="font-size: 20px"><i class="fa fa-pencil" aria-hidden="true"></i> Book Now</span>
        </center>
        <hr>
        <div class="itemzoom2" style="padding:5px">
            <!-- br> -->
            <form method="POST" onsubmit="return sendContactData()" name="contactForm">
              <div class="form-group">
                <br>
                <label for="fname">Full name*</label>
                <input type="fname" class="form-control" id="fname" placeholder="Dolly Shemroon" name="fname" required="true" data-toggle="tooltip" title="Your full name">
              </div>

              <div class="form-group">
                <label for="email">Email*</label>
                <input type="email" class="form-control" id="email" placeholder="sure.cabs@gmail.com" name="email" required="true" data-toggle="tooltip" title="Your email id">
              </div>

              <div class="form-group">
                <label for="contact"><span style="color: green"><i class="fa fa-mobile fa-1x" aria-hidden="true"></i> Contact Number</span >*</label>
                <input type="text" class="form-control" id="contact" placeholder="7917291992" name="contact" data-toggle="tooltip" title="Your contact number" required="true" maxlength="10" pattern="^([789])([0-9]{9})$" title="Mobile number(having 10 digits) should start with 7 or 8 or 9" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
              </div>

              <div class="form-group">
                <label for="question">Message*</label>
                <textarea class="form-control" id="message" placeholder="Write message to us" name="message" rows="8" data-toggle="tooltip" title="Write your message to us" required="true"></textarea>
              </div>
                
              <input type="submit" class="btn btn-block btn-success" data-toggle="tooltip" title="Submit your question" value="Book Now(Quick)"> 
            </form>

          </div>

          <hr>
          <center>
            <i class="fa fa-users" aria-hidden="true"></i> <a href="/register/">Register (have an account)</a>
            <br>
            <i class="fa fa-sign-in" aria-hidden="true"></i> <a href="/login/">Sign in (Let me book now)</a>
          </center>
      </div>

    </div>
		<div class="row">
			  <!--  {% for data in locations %}
            {{ data.place }}<br>
            {{ data.locationName}}
         {% endfor %} -->
		</div>		
    <hr>