		<div class="row">
			<!--COLUMN1-->
      <div class="col-md-12 col-xs-12" >
          <br>
          <br>
          <br>
          <hr>

          {% include "carousels/carousel_kerala_places.html" %}
          <center>
              
          </center>
          <p style="font-family: serif; padding: 10px; font-size: 18px; text-align: justify;">
          Kerala, a state on India's tropical Malabar Coast, has nearly 600km of Arabian Sea shoreline. It's known for its palm-lined beaches and backwaters, a network of canals. Inland are the Western Ghats, mountains whose slopes support tea, coffee and spice plantations as well as wildlife. National parks like Eravikulam and Periyar, plus Wayanad and other sanctuaries, are home to elephants, langur monkeys and tigers.<br><br>
          The production of pepper and natural rubber contributes significantly to the total national output. In the agricultural sector, coconut, tea, coffee, cashew and spices are important. The state's coastline extends for 595 kilometres (370 mi), and around 1.1 million people in the state are dependent on the fishery industry which contributes 3% to the state's income. The state has the highest media exposure in India with newspapers publishing in nine languages, mainly English and Malayalam. Kerala is one of the prominent tourist destinations of India, with backwaters, beaches, Ayurvedic tourism and tropical greenery as its major attractions.
          </p>
      </div>
		<hr>
    </div>
		<div class="row">
			  <!--  {% for data in locations %}
            {{ data.place }}<br>
            {{ data.locationName}}
         {% endfor %} -->
		</div>		
    <hr>