<div class="row">
      <br>

          <hr>
      <!--COLUMN1-->
      <div class="col-md-12 col-xs-12" >
          
           <center><h2 style="color: gray"><i class="fa fa-arrows" aria-hidden="true"></i> Mysore</h2></center>
          
          {% include "carousels/carousel_mysore.html" %}
          <center>
              <a href="/contact/#comment_here" role="button" class="btn btn-danger" data-toggle="tooltip" title="Click here for quick booking"><h6 style="font-family: tahoma; font-size: 20px">Book now</h6></a>
          </center>
          <center>
          <h1>
                <span style="color:gray"><u>Mysore </u></span>
               
          </h1>
          </center>
          <p style="font-family: serif; padding: 10px; font-size: 18px">

          Mysore (or Mysuru), a city in India's southwestern Karnataka state, was the capital of the Kingdom of Mysore from 1399 to 1947. In its center is opulent Mysore Palace, seat of the former ruling Wodeyar dynasty. 
          <br>
          <br/>
          The palace blends Hindu, Islamic, Gothic and Rajput styles. Mysore is also home to the centuries-old Devaraja Market, filled with spices, silk and sandalwood.

          </p>

          <p style="font-family: serif; padding: 10px; font-size: 18px">
            <b>Read more about Mysore in</b> 
            <a href="https://en.wikipedia.org/wiki/Mysore">wikipedia</a>
          </p>
          <!--Mysore Palace-->
          <!-- <center>
          <h1>
                <span style="color:gray"><u>Mysore Palace</u></span>
               
          </h1>
          </center>
          <p style="color:#330000;font-family: serif; padding: 10px; font-size: 18px">
               The Palace of Mysore is a historical palace in the city of Mysore in Karnataka, southern India. It is the official residence and seat of the Wodeyars and rulers of Mysore]], the royal family of Mysore, who ruled the princely state from 1399 to 1950...See
            <a  href="https://en.wikipedia.org/wiki/Mysore_Palace" role="button">Wikipedia &raquo;</a>
          </p>
 -->
      </div>

    </div>
    <div class="row">
        <!--  {% for data in locations %}
            {{ data.place }}<br>
            {{ data.locationName}}
         {% endfor %} -->
    </div>    
    <hr>