		<div class="row">
			
      <!--COLUMN1-->
      <div class="col-md-12 col-xs-12" >
          <br>
          <br>
          <br>
          <hr>
           <center><h2 style="color: gray"><i class="fa fa-arrows" aria-hidden="true"></i> North indian temples</h2></center>
          
          {% include "carousels/carousel_north_indian_temples.html" %}
           
          <p style="font-family: serif; padding: 10px; font-size: 18px">
          India is a divine abode of thousands of Gods and Goddesses who bless the country with their presence all over. From Kashmir to Kanyakumari, the number of temples found in this country is something very extraordinary. What is more exceptional is the way these temples have been designed with utmost dexterity and precision. 
          <br>
          <br/>
          The beauty of the architectural style of these holy places demands serious adulation. There is a strong point of difference between the patterns of design used in the temples of North and the South. Since most of the time the temples of the South are taken into account while talking about the celestial magnificence, today I will write about some of the most famous temples of North India.


          </p>


      </div>

    </div>
		<div class="row">
			  <!--  {% for data in locations %}
            {{ data.place }}<br>
            {{ data.locationName}}
         {% endfor %} -->
		</div>		
    <hr>