{% extends "base.html" %}
{% load staticfiles %}
<!--CONTAINER-->
{% block carousel %}
	{% include "carousels/carousel-about.html" %}
{% endblock %}

{% block container %}
		<div class="row">
			<div class="col-md-8 col-md-offset-2  col-xs-12">
				  <p id="p_head" class="text-center"  data-toggle="tooltip" title="We provide vehicle services"><i class="fa fa-map-o" aria-hidden="true"></i> About us</p>
          <p id="p_desc">
              Travelling should be convenient, fun-filled and stress-free. That’s exactly the reason why <b>Sure Cabs tours and travels</b> is here for you. Our journey in the travel industry started in the year <b>11/11/2011</b>. We provide the finest buses, cars and van rental services in India. Our aim is to make your travel experience, the most unforgettable time of your life! Isn’t travelling all about relaxing and leaving behind all the stress? Our business believes that the requirements of the customers must be catered to, as a priority. All you need to do is rent a car, van or bus from us and we will offer you the best deal! 
              <br>
          </p>
          <hr>
      </div>
     <!--  <hr> -->
      <div class="col-md-8 col-md-offset-2  col-xs-12">
          <p id="p_head" class="text-center"  data-toggle="tooltip" title="We do something special"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Travel to another State with Ease – Van Hire Services 
          </p>
          <p id="p_desc">
            Are you travelling to another state? There are some adventurous people, who love to take their bikes and cars out for the inter-state travel. As a solo traveller, it may seem pleasant but not a safe option. If you are travelling with your family, you must consider the safety measures and comfort. In case you are travelling to any part of the country or within Bangalore, you can hire a van from us which will be comfortable for your entire family. Why should you adjust and sit uncomfortably? A long journey can be tiring and so, you do require a trusted driver, who has the knowledge about the roads and the experience of driving for hours. Getting lost on the road or sleeping while driving is dangerous! The good part is that you can choose the van yourself! All our vans are spacious and the interiors are pleasing to the eyes. You can give us a quick call and we will provide you the best van for your family trip to another state! 

          </p>
          <hr>
      </div>

      <div class="col-md-8 col-md-offset-2  col-xs-12">
          <p id="p_head" class="text-center"  data-toggle="tooltip" title="We do something special"><i class="fa fa-briefcase" aria-hidden="true"></i> It’s TIME to go HOME in a BUS!  
          </p>
          <p id="p_desc">
           
           Holidays are the best time to visit your native village or parent’s place. Sometimes you feel like running back to your home town to have home cooked meal prepared by your mother. At such times, you look for a transportation which has low fares and it also helps you reach a remote village. If you are on a budget and you do not wish to change flights or trains, you can opt for the interstate buses. The good news is that <b>Sure Cabs tours and travels</b> has an interstate bus service as well! The fares are low which means you save more and reach your destination IN TIME!
          </p>
          <hr>
      </div>

      <div class="col-md-8 col-md-offset-2  col-xs-12">
          <p id="p_head" class="text-center"  data-toggle="tooltip" title="We do something special"><i class="fa fa-diamond" aria-hidden="true"></i> For the Corporate Travellers 
          </p>
          <p id="p_desc">
           
           
            There are many expats and businessmen, who require car rental services that are professional.<b>Sure Cabs tours and travels</b> offers efficient van or car hire services for corporate travellers. You may need the car for your business needs. You may need the car for going to different spots and finishing your meetings. We understand your requirements and so, we have a prompt service for corporate travellers. We possess a highly trained team which will cater to your requirements at the lowest cost. Our Customer Service team is always there to guide you with any query that you have! All you need to do is call us up and our Account Manager will make a package as per your travel requirements. Our customers are our first priority!

          </p>
          <hr>
      </div>
		<hr>
		<div class="row">

			<div class="col-md-8 col-md-offset-2  col-xs-12">
      <p id="p_head" class="text-center"  data-toggle="tooltip" title="Find us on map"><i class="fa fa-map-marker" aria-hidden="true"></i> Locate us </p>

      <!-- <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJbUG0-07kDDkRijbNKNyLUNc&key=AIzaSyCHXJKYBLzJRVYbpl_qIdyJh7gjCExVpdk" allowfullscreen></iframe> -->
      <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Sujan%20Hot%20Chips%20174%2C%209th%20Main%20Rd%20AECS%20Layout%20-%20A%20Block%2C%20AECS%20Layout%2C%209th%20Main%20Rd%2C%20AECS%20Layout%20-%20A%20Block%2C%20AECS%20Layout%2C%20Singasandra%2C%20Bengaluru%2C%20Karnataka%20560068%2C%20India&key=AIzaSyAUB2OERlsKRC5yj7zuNHoer_PHde8_07w" allowfullscreen></iframe>
      </div>
		</div>
    </div>
    <hr>	
<!--
  SURECABS OWNERS - PRAMILA RAMAMURTHY AND HUSBAND
  SURECABS GUIDES - G RATHNAKARA SIR(NETWORK ENGINEER), ARJUN T SIR(CEO at OFFLINETREND)
  SURECABS DEVELOPER - RISHIKESH AGRAWANI 
  LANGUAGE USED FOR BACKEND - Python 2.7.13
  FRAMEWORK USED - DJANGO 1.11.2
  DEPLOYED ON - 22 AUGUST 2017
  DEVELOPED AT - OFFLINETREND SOLUTIONS PVT LTD
  PURPOSE - PEOPLE CAN BOOK VEHICLES(INNOVAS/TEMPO TRAVELLERS/BUSES/MINI BUSES) FOR TOURS EITHER BY DIRECT CALL OR BY FILLING ONLINE FORM.
--> 	
{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}

{% endblock js_head %}

<!--CSS(s)-->
{% block css %}
  <!-- <link rel="stylesheet" href="{% static './css/carousel.css' %}" > -->
  <style type="text/css">
  	    * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }

        @media only screen and (max-width: 768px){
        	.details{
        		text-align: left;
        	}
        	body{
        		/*background-color:#f2f2f2;*/
        	}
        	
        	
          #myCarousel{
            max-height: 350px;
          }
          .carousel .item {
              height: 350px;
            }

          .item img {
                position: absolute;
                top: 0;
                left: 0;
                min-height: 350px;
          }
        }

        #p_head{
          font-size: 25px;
          font-weight: bold;
        }
        #p_desc{
          text-align: justify;
          font-size: 17px;
          font-family:lucida;
          color: #34495e;
        }
        h3{
          font-family: sans-serif;
        }
  </style>
{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}
<script>
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();   
		});
</script>
{% endblock js_body %}

{% block footer %}
	   {% include "footer.html" %}
{% endblock footer %}
