{% load staticfiles %}
<body>
<center>
		<br>
		<br>
		<a href="/" >
			<img src="{% static 'images/NEW_LOGO.jpg' %}" style="width: 30%; border-radius: 80%">
		</a>
		<br>
		<br>
		<img src="{% static './images/account_activated.png' %}" style="width:50%; height: 30%">
		<h1 style="color:green">You successfully confirmed your account with</h1>
		<h4 style="color:black">{{email}}</h4>

		Visit SureCabs at <a href="/">{{request.scheme}}://{{request.get_host}}</a>
</center>
 <!--
  SURECABS OWNERS - PRAMILA RAMAMURTHY AND HUSBAND
  SURECABS GUIDES - G RATHNAKARA SIR(NETWORK ENGINEER), ARJUN T SIR(CEO at OFFLINETREND)
  SURECABS DEVELOPER - RISHIKESH AGRAWANI 
  LANGUAGE USED FOR BACKEND - Python 2.7.13
  FRAMEWORK USED - DJANGO 1.11.2
  DEPLOYED ON - 22 AUGUST 2017
  DEVELOPED AT - OFFLINETREND SOLUTIONS PVT LTD (BANGALORE)
  PURPOSE - PEOPLE CAN BOOK VEHICLES(INNOVAS/TEMPO TRAVELLERS/BUSES/MINI BUSES) FOR TOURS EITHER BY DIRECT CALL OR BY FILLING ONLINE FORM.
--> 
</body>