{% extends "base.html" %}
{% load staticfiles %}

{% block carousel %}

{% endblock %}

<!--CONTAINER-->
{% block container %}
	<div class="row">
          <!-- Images on home -->
          {% include 'tabcontents/booking_details.html' %}
	</div>
  <hr>
 <!--
  SURECABS OWNERS - PRAMILA RAMAMURTHY AND HUSBAND
  SURECABS GUIDES - G RATHNAKARA SIR(NETWORK ENGINEER), ARJUN T SIR(CEO at OFFLINETREND)
  SURECABS DEVELOPER - RISHIKESH AGRAWANI 
  LANGUAGE USED FOR BACKEND - Python 2.7.13
  FRAMEWORK USED - DJANGO 1.11.2
  DEPLOYED ON - 22 AUGUST 2017
  DEVELOPED AT - OFFLINETREND SOLUTIONS PVT LTD (BANGALORE)
  PURPOSE - PEOPLE CAN BOOK VEHICLES(INNOVAS/TEMPO TRAVELLERS/BUSES/MINI BUSES) FOR TOURS EITHER BY DIRECT CALL OR BY FILLING ONLINE FORM.
--> 
{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}

{% endblock js_head %}

<!--CSS(s)-->
{% block css %}
   <style type="text/css">
    ol li{
      color: #330000;
      font-size: 14px;
      font-family: tahoma;
    } 

    .t_title{
      color:black;
      font-weight: bold;
    }

    .t_value{
      color: #2C3E50;
    }
  </style>

  <style type="text/css">
    input{
      border: 1px solid green;
    }
  </style>
{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>

{% endblock js_body %}

{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}
