{% extends "base.html" %}
{% load staticfiles %}
<!--CONTAINER-->
{% block container %}
		<div class="row">
            <div id="bookcard" class="col-lg-6 col-lg-offset-3 col-xs-12" style="background-color: white; height: 550px; padding: 10px ; background-color: #ecf0f1; border: 1px solid #ecf0f1">
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#home">LOCAL</a></li>
                      <li><a data-toggle="tab" href="#menu1">OUTSTATION</a></li>
                    </ul>

                    <div class="tab-content">
                      <div id="home" class="tab-pane fade in active">
                          <!--Row1 starts-->
                          <div class="row">
                            <br>
                            <div class="col-lg-4">
                              <img src="{% static 'images/giphy-car.gif' %}" style="width: 100%" class="img-responsive" id="car">
                            </div>
                            <div class="col-lg-8">
                                <p style="font-size: 30px; color:#16a085;font-weight: bold">Book Now (local)</p>
                                <p style="color: #2c3e50"><b>Dear user</b>,<br> <span style="color: maroon; font-weight: bold;font-family: tahoma">please fill the follwoing details to book your ride.</span></p>
                                <br>
                            </div>

                          </div>
                          <!--Row1 ends-->

                          <!--Row2 starts-->
                          <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <!--Booking form-->
                              <form name="bookingForm" method="post" role="form" onsubmit="return sendBookingInfo(1)">{% csrf_token %}
                                <div class="row">
                                    <br>
                                    
                                    <div class="col-lg-8">

                                      <span class="left-text2">How many of your members are travelling?</span>
                                    </div>
                                    <div class="col-lg-4">
                                        <select name="members">
                                          <option value="1-7">
                                            1-7
                                          </option>
                                          <option value="8-16">
                                            8-16
                                          </option>
                                          <option value="17-32">
                                            17-32
                                          </option>
                                          <option value="33-52">
                                            33-52
                                          </option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6">
                                      <span class="left-text2">From</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" name="from" placeholder="Pick up location"
                                        onFocus="geolocate()" id="autocomplete" style="margin-left: 15px; width: 245px" required />
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6">
                                      <span class="left-text2">To</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" name="to" placeholder="Your destination"
                                        onFocus="geolocate()" id="autocomplete2" style="width: 245px" required />
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6">
                                      <span class="left-text2">Date of travel</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <p><input type="text" id="datepicker" name="dot" style="width: 245px" placeholder="mm/dd/yyyy" pattern="^[0-9]{2}/[0-9]{2}/[0-9]{4}" title="The date should be in mm/dd/yyyy format" required /></p>

                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6">
                                      <span class="left-text2">Date of return</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <p><input type="text" id="datepicker2" name="dor" style="width: 245px" placeholder="mm/dd/yyyy" required="true" /></p>

                                    </div>
                                </div>
                                <br>
                                <center>
                                  <input type="submit" value="Book Now" class="btn btn-primary" role="button"/>
                                </center>
                              </form>
                            </div>
                          </div>
                          <!--Row2 ends-->
                      </div>
                      <!--OUTSTATION-->
                      <div id="menu1" class="tab-pane fade">
                          <!--Row1 starts-->
                          <div class="row">
                            <br>
                            <div class="col-lg-4">
                              <img src="{% static 'images/giphy-car.gif' %}" style="width: 100%" class="img-responsive" id="car">
                            </div>
                            <div class="col-lg-8">
                                <p style="font-size: 30px; color:#16a085;font-weight: bold">Book Now(outstation)</p>
                                <p style="color: #2c3e50"><b>Dear user</b>,<br> <span style="color: maroon; font-weight: bold;font-family: tahoma">please fill the follwoing details to book your ride.</span></p>
                                
                            </div>
                            <hr>
                          </div>
                          <!--Row1 ends-->

                          <!--Row2 starts-->
                          <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <!--Booking form-->
                              <form name="bookingForm2" method="post" role="form" onsubmit="return sendBookingInfo(2)">{% csrf_token %}
                                <div class="row">
                                    <br>
                                    
                                    <div class="col-lg-8">

                                      <span class="left-text">How many of your members are travelling?</span>
                                    </div>
                                    <div class="col-lg-4">
                                        <select name="members">
                                          <option value="1-7">
                                            1-7
                                          </option>
                                          <option value="8-16">
                                            8-16
                                          </option>
                                          <option value="17-32">
                                            17-32
                                          </option>
                                          <option value="33-52">
                                            33-52
                                          </option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6">
                                      <span class="left-text">From</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" name="from" placeholder="Pick up location"
                                        onFocus="geolocate()" id="autocomplete3" style="margin-left: 15px; width: 245px" required />
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6">
                                      <span class="left-text">To</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" name="to" placeholder="Your destination"
                                        onFocus="geolocate()" id="autocomplete4" style="width: 245px" required />
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6">
                                      <span class="left-text">Date of travel</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <p><input type="text" id="datepicker3" name="dot" style="width: 245px" placeholder="mm/dd/yyyy" pattern="^[0-9]{2}/[0-9]{2}/[0-9]{4}" title="The date should be in mm/dd/yyyy format" required /></p>

                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6">
                                      <span class="left-text">Date of return</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <p><input type="text" id="datepicker4" name="dor" style="width: 245px" placeholder="mm/dd/yyyy" required="true" /></p>

                                    </div>
                                </div>
                                <br>
                                <center>
                                  <input type="submit" value="Book Now" class="btn btn-primary" role="button"/>

                                </center>

                              </form>
                            </div>
                          </div>
                          <!--Row2 ends-->
                              
                      </div>
                    </div>
            </div>
            <div class="col-lg-3 col-xs-12" style="background-color: white; height: 500px; padding: 10px ;" id="marquee">
                    <marquee direction="down" height="489px">
                        <img src="{% static 'images/cab-book.jpg' %}" style="width: 100%" class="img-responsive"> 
                        <br>
                         <img src="{% static 'images/bookcab1.jpg' %}" style="width: 100%" class="img-responsive"> 
                         
                         <br>
                         <img src="{% static 'images/Uber-Cab-Pool-Rides.png' %}" style="width: 100%" class="img-responsive"> 
                         <br>
                         <img src="{% static 'images/cab-family.jpg' %}" style="width: 100%" class="img-responsive"> 
                    </marquee>
            </div>
        </div>
				

{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
    $( "#datepicker2" ).datepicker();
    $( "#datepicker3" ).datepicker();
    $( "#datepicker4" ).datepicker();
  } );
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js">
  </script>
{% endblock js_head %}

<!--CSS(s)-->
{% block css %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

  <style type="text/css">
        body{
          background-color:#fdfdfd;
        }
      * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }

        .car_mileage, .car_price, .car_volume{
          font-family: tahoma;
          margin-bottom: 10px;
          font-size: 15px;
        }
        input, select{
          border: 1px solid green;
          padding:3px;
          font-size: 15px;
          border-radius: 4px;
        }

        input:hover, select:hover{
          border: 1px solid black;
          font-family: tahoma;
        }

      @media screen and (max-width:  1200px){
        #bookcard {
          /*max-height: 850px;*/
          height: 470px;
          margin-bottom: 10px;
        }
        #marquee{
          display: none;

        }
        body{
          background-image: url("");
          background-color: #ecf0f1;
        }
        #top-gap{
          max-height: 50px;
        }
        #car{
          height: 270px;
        }
        #foot{
          margin-top: 260px;
        }
      }

      #autocomplete, #autocomplete3 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }

      .left-text{
        color: #34495e;
        font-size: 15px;
        font-weight: bold;
        font-family: tahoma;
      }
      .left-text2{
        color: #2c3e50;
        font-size: 15px;
        font-weight: bold;
        font-family: tahoma;
      }
      
    </style>

{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}
    <script type="text/javascript" src="{% static './js/form.js' %}"></script>
    
    {% include "auto-address.html" %}

    <script type="text/javascript" src="{% static './js/book_new.js' %}"></script>

    <!--  
          <script type="text/javascript" src="{% static './js/home.js' %}"></script> 
    -->
    <script type="text/javascript">
      $(document).ready(
        function(){
          $("a[href='#home-img']").click(function(){
            console.log("Selected Cars")
            $("#h1-vehicles").text("OUR CARS")
          });
          $("a[href='#menu1-img']").click(function(){
            console.log("Selected Mini buses")
            $("#h1-vehicles").text("OUR MINI BUSES")
          });
          $("a[href='#menu2-img']").click(function(){
            console.log("Selected Buses")
            $("#h1-vehicles").text("OUR BUSES")
          });
          $("a[href='#menu3-img']").click(function(){
            console.log("Selected Trucks")
            $("#h1-vehicles").text("OUR TRUCKS")
          });
        }
      )
    </script>
{% endblock js_body %}



