
{% extends "base.html" %}
{% load staticfiles %}

{% block carousel %}

{% endblock %}

<!--CONTAINER-->
{% block container %}
	<div class="row">
          <!-- Images on home -->
          {% include 'tabcontents/my_booking_and_shipping_details_desc.html' %}
	</div>
  <hr>
{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}

{% endblock js_head %}

<!--CSS(s)-->
{% block css %}

 <style type="text/css">
    .p_text{
      color: black;
      font-size: 15px;
      font-family: tahoma;
    } 

    .t_title{
      color:black;
      font-weight: bold;
    }

    .t_value{
      color: #2C3E50;
    }
  </style>

{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>

<script type="text/javascript">
      var booking_id = ""

      try{
        alert("oh...")
        booking_id = localStorage.getItem("booking_id")
      }catch(err){
        alert("Couldn't find any booking for this ID")
      }

      function showBookingAndShippingInfo(){
        console.log("Booking info")
        booking_id = localStorage.getItem("booking_id")
        alert("Your booking id is "+booking_id)
        fetch('{{ request.scheme }}://{{request.get_host}}/v1/booking/get-my-booking-and-shipping-details/{{booking_id}}/', {
          method: 'post',
          headers: {
            'Accept': 'application/json, text/plain, */*',
            'Content-Type': 'application/x-www-form-urlencoded',
            "Access-Control-Allow-Origin": "*",
          },
          // body: JSON.stringify({
          //   booking_id: "SURECABS2017"})
        })
        .then(response => response.json())
        .then(response => {
            console.log(response)
            console.log(typeof response)
            console.log(response.message)
            
            console.log("Done")

            if (response.status == 200){
                console.log("Fine")
                // alert(response.booking_id)

                // alert("ok")
                document.getElementById("booking_id").innerHTML = response.booking_id;

                document.getElementById("selected_vehicle").innerHTML = response.selected_vehicle;

                document.getElementById("source_city").innerHTML = response.source_city;

                document.getElementById("destination_city").innerHTML = response.destination_city;

                document.getElementById("pick_up_day").innerHTML = response.pick_up_day;

                document.getElementById("duration").innerHTML = response.duration;

                document.getElementById("passengers").innerHTML = response.passengers;

                document.getElementById("return_day").innerHTML = response.return_day;

                document.getElementById("min_km_per_day").innerHTML = response.min_km_per_day;

                document.getElementById("price_per_km").innerHTML = response.price_per_km;

                document.getElementById("driver_bata").innerHTML = response.driver_bata;

                document.getElementById("estimated_fare").innerHTML = response.estimated_fare;

                document.getElementById("advance_paid").innerHTML = response.advance_paid;

                document.getElementById("discount").innerHTML = response.discount;
                // alert(response.message)
                return  true
            } else {
                console.log("That's little error", response.log)
                alert( response.message )
                return false
            }
        })
        .catch(function(){
          console.log("Error")
          alert("Error")
        });

        return false
    }

    showBookingAndShippingInfo()

    // booking_id = localStorage.getItem("booking_id")
    // var req = {
    //  method: 'POST',
    //  url: '{{ request.scheme }}://{{request.get_host}}/v1/booking/get-my-booking-and-shipping-details/',
    //  headers: {
    //           'Accept': 'application/json, text/plain, */*',
    //           'Content-Type': 'application/x-www-form-urlencoded'
    //    },
    //  data: { booking_id: booking_id }
    // }

    // var app = angular.module('myApp', []);
    // app.controller('customersCtrl', function($scope, $http) {
    //     $http.get(req).then(function(response) {
    //         $scope.myData = response.data;
    //         var data = $scope.myData;
    //         alert("hi"+data.message)
    //     });
    // });
</script>
{% endblock js_body %}

{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}
