  {% extends "base.html" %}
{% load staticfiles %}
<!--CONTAINER-->
{% block carousel %}
	{% include "carousels/carousel-contact.html" %}
{% endblock %}

{% block container %}
		<div class="row">
			<div class="col-md-4 col-xs-12" id="contact_now">
        <hr> 
  			<h2 class="text-center" id="comment_here" data-toggle="tooltip" title="We are waiting for your message"> <span style="color: #CF000F"><i class="fa fa-handshake-o" aria-hidden="true"></i>  Get in  touch</span></h2>
        <center>
            <span style="font-size: 20px; color:black"><i class="fa fa-pencil" aria-hidden="true"></i> Write us your message</span>
        </center>
  			<hr>
				<div class="itemzoom2" style="padding:5px">
						<!-- br> -->
					  <form method="POST" onsubmit="return sendContactData()" name="contactForm">
					  	<div class="form-group">
                <br>
					      <label for="fname" style="color:black">Full name*</label>
					      <input type="fname" class="form-control" id="fname" placeholder="Dolly Shemroon" name="fname" required="true" data-toggle="tooltip" title="Your full name">
					    </div>

					    <div class="form-group">
					      <label for="email"  style="color:black">Email*</label>
					      <input type="email" class="form-control" id="email" placeholder="sure.cabs@gmail.com" name="email" required="true" data-toggle="tooltip" title="Your email id">
					    </div>

					    <div class="form-group">
                <label for="contact"><span style="color: black"><i class="fa fa-mobile fa-1x" aria-hidden="true"></i> Contact Number</span >*</label>
                <input type="text" class="form-control" id="contact" placeholder="7917291992" name="contact" data-toggle="tooltip" title="Your contact number" required="true" maxlength="10" pattern="^([789])([0-9]{9})$" title="Mobile number(having 10 digits) should start with 7 or 8 or 9" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
              </div>

					    <div class="form-group">
					      <label for="question"  style="color:black">Message*</label>
					      <textarea class="form-control" id="message" placeholder="Write message to us" name="message" rows="8" data-toggle="tooltip" title="Write your message to us" required="true"></textarea>
					    </div>
					    	
					    <input type="submit" class="btn btn-block btn-danger" data-toggle="tooltip" title="Submit your question" value="Contact Now"> 
					  </form>

					</div>

          <hr>
          <center>
            <i class="fa fa-users" aria-hidden="true"></i> <a href="/register/">Register (have an account)</a>
            <br>
            <i class="fa fa-sign-in" aria-hidden="true"></i> <a href="/login/">Sign in (Let me book now)</a>
          </center>
			</div>
      <!-- COLUMN2 -->
      <div class="col-md-8 col-xs-12">
          <hr>
          <h2 class="text-center" id="comment_here" data-toggle="tooltip" title="Our address and location">  <span style="color: #CF000F"><i class="fa fa-address-card-o" aria-hidden="true"></i> Address &amp; location</span></h2>
          <center>
              <!-- <span style="font-size: 20px"><i class="fa fa-pencil" aria-hidden="true"></i> We are waiting for your message</span> -->
              <a href="https://www.facebook.com/sure.cabs.94"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> </a>
              <a href="https://www.linkedin.com/in/sure-cabs-tours-and-travels-a477ba148/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i> </a>
              <a href="https://twitter.com/SureCabs2017"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i> </a>
          </center>
          <hr>
         
        <!-- <iframe width="100%" height="498" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJbUG0-07kDDkRijbNKNyLUNc&key=AIzaSyCHXJKYBLzJRVYbpl_qIdyJh7gjCExVpdk" allowfullscreen>
         </iframe> -->
         <iframe width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Sujan%20Hot%20Chips%20174%2C%209th%20Main%20Rd%20AECS%20Layout%20-%20A%20Block%2C%20AECS%20Layout%2C%209th%20Main%20Rd%2C%20AECS%20Layout%20-%20A%20Block%2C%20AECS%20Layout%2C%20Singasandra%2C%20Bengaluru%2C%20Karnataka%20560068%2C%20India&key=AIzaSyAUB2OERlsKRC5yj7zuNHoer_PHde8_07w" allowfullscreen></iframe>
      </div>
		</div>
		
		<hr>
		<div class="row">
			  <!-- Carousel -->
		</div>
<!--
  SURECABS OWNERS - PRAMILA RAMAMURTHY AND HUSBAND
  SURECABS GUIDES - G RATHNAKARA SIR(NETWORK ENGINEER), ARJUN T SIR(CEO at OFFLINETREND)
  SURECABS DEVELOPER - RISHIKESH AGRAWANI 
  LANGUAGE USED FOR BACKEND - Python 2.7.13
  FRAMEWORK USED - DJANGO 1.11.2
  DEPLOYED ON - 22 AUGUST 2017
  DEVELOPED AT - OFFLINETREND SOLUTIONS PVT LTD
  PURPOSE - PEOPLE CAN BOOK VEHICLES(INNOVAS/TEMPO TRAVELLERS/BUSES/MINI BUSES) FOR TOURS EITHER BY DIRECT CALL OR BY FILLING ONLINE FORM.
-->		
{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}

{% endblock js_head %}

<!--CSS(s)-->
{% block css %}
  <!-- <link rel="stylesheet" href="{% static './css/carousel.css' %}" > -->
  <style type="text/css">
  	    * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }

       	.itemzoom2 {
          position: relative;
          
          /*border: 1px solid #333;*/
          /*margin: 2%;*/
          overflow: hidden;
          padding-bottom: 10px;
          /*width: 540px;*/
          box-shadow:2px 4px 8px 2px rgba(0, 200, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        @media only screen and (max-width: 768px){
        	.details{
        		text-align: left;
        	}
        	body{
        		/*background-color:#f2f2f2;*/
        	}
        	#card div .details{
       			text-align: left;
      		}
        }

        #fname, #email, #message, #contact{
        	border: 1px solid black;

        }

        #fname:hover, #email:hover, #message:hover, #contact:hover{
        	border: 1px solid green;
        	font-family: tahoma;
        }
        #profile_pic:hover{
        	width: 31px;
        	height: 31px;
        }

        #card:hover{
        	background-color: white;
        	box-shadow:0 0px 4px 1px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
       	
       	#comment_here{
       		color:gray;
       	}

       	#contact_number{
       		color: gray;
       		font-weight: bold;
       	}

       	#comment_top{color: green;}

       	#ask_que{
       		color: #2c3e50;
       		font-weight: bold;
       		font-size: 25px;
       	}
  </style>
{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}
  <script>
  		$(document).ready(function(){
  		    $('[data-toggle="tooltip"]').tooltip();   
  		});
  </script>

  {% include 'send_contact_details.html' %}
{% endblock js_body %}

{% block footer %}

	{% include "footer.html" %}
{% endblock footer %}
