{% extends "base.html" %}
{% load staticfiles %}
<!--CONTAINER-->
{% block carousel %}
	{% include "carousels/carousel-faq.html" %}
{% endblock %}

{% block container %}
  {% include 'faq-part.html' %}
<hr>
 <!--
  SURECABS OWNERS - PRAMILA RAMAMURTHY AND HUSBAND
  SURECABS GUIDES - G RATHNAKARA SIR(NETWORK ENGINEER), ARJUN T SIR(CEO at OFFLINETREND)
  SURECABS DEVELOPER - RISHIKESH AGRAWANI 
  LANGUAGE USED FOR BACKEND - Python 2.7.13
  FRAMEWORK USED - DJANGO 1.11.2
  DEPLOYED ON - 22 AUGUST 2017
  DEVELOPED AT - OFFLINETREND SOLUTIONS PVT LTD (BANGALORE)
  PURPOSE - PEOPLE CAN BOOK VEHICLES(INNOVAS/TEMPO TRAVELLERS/BUSES/MINI BUSES) FOR TOURS OR OTHER PURPOSE EITHER BY DIRECT CALL OR BY FILLING ONLINE FORM.
--> 
{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}

{% endblock js_head %}

<!--CSS(s)-->
{% block css %}
 
  <style type="text/css">
  	    /*#comment_top{color: green;}*/

        #accordion .panel-heading { padding: 0;}
        #accordion .panel-title > a {
          display: block;
          padding: 0.4em 0.6em;
            outline: none;
            font-weight:bold;
            text-decoration: none;
        }

        #accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before  {
            content:"\e113";
            float: left;
            font-family: 'Glyphicons Halflings';
          margin-right :1em;
        }
        #accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before  {
            content:"\e114";
        }

  </style>
{% endblock css %}
      
<!--BODY JAVASCRIPT(s)-->
{% block js_body %}

<script>
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();   
		});
</script>

{% endblock js_body %}

{% block footer %}
	{% include "footer.html" %}
{% endblock footer %}
