{% load staticfiles %}
<!-- <hr> -->
<footer>
	<div class="container-fluid" style="background-color: pink;padding: 10px; padding-left: 130px">
		<div class="row">
			<div class="col-md-3 col-sm-12 col-xs-12" class="footer_links">
				<h2 style="color:black;">NAV LINKS</h2>
				
				<a href="/" style="color:gray;">Home</a><br>
				<a href="/contact/" style="color:gray;">Contact</a><br>
				<a href="/about/" style="color:gray;">About</a><br>
			</div>
			
			<div class="col-md-3 col-sm-12 col-xs-12" class="footer_links">
				<h2 style="color:black;">MORE</h2> 	
				<a href="/offers/" style="color:gray;">Online offers</a><br>
				<a href="/faqs/" style="color:gray;">Faqs</a><br>
				<a href="/v1/terms-and-conditions/" style="color:gray;">Terms &amp; conditions</a>
			</div>

			<div class="col-md-3 col-sm-12 col-xs-12" class="footer_links">
				<h2 style="color:black;">PACKAGES</h2>
				<a href="/#day-trips-here" style="color:gray;">Days trips</a><br>
				<a href="/holiday-packages/popular-places/" style="color:gray;">Popular places</a><br>
				<a href="/holiday-packages/pilgrimages/" style="color:gray;">Pilgrimages</a><br>
				<a href="/holiday-packages/weekends/" style="color:gray;">Weekends</a><br>
			</div>

			<div class="col-md-3 col-sm-12 col-xs-12" class="footer_links">
				<h2 style="color:black;">PAYMENT</h2>
				<!-- <a href="#" ><i class="fa fa-cc-paypal fa-2x" aria-hidden="true"></i> <span style="color:gray;">Paypal</span></a><br>
				<a href="#"><i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i> <span style="color: gray">Mastercard</span></a><br>
				<a href="#"><i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i> <span style="color: gray">Visa</span></a> -->
				
				<a href="https://imjo.in/QDGgDQ" ><span style="color:gray;"><img src="{% static './images/instamojo.png' %}" class="img-responsive" style="height: 23px; display: inline-block;"> - Advance (&#8377; 2000))</span></a><br>

				<!-- <a href="https://www.instamojo.com/@surecabs/" rel="im-checkout" data-behaviour="remote" data-style="flat-dark" data-text="Checkout With Instamojo"></a>
				<script src="https://js.instamojo.com/v1/button.js"></script> -->
				<a href="https://www.instamojo.com/@surecabs/" >

				<span style="color: gray"> <img src="{% static './images/instamojo.png' %}" class="img-responsive" style="height: 23px; display: inline-block;"> - Pay now </span></a><br>

				<!-- <span href="#" > -->

				<span style="color: gray; font-size: 20px"> <img src="{% static './images/Paytm_logo.png' %}" class="img-responsive" style="height: 25px; display: inline-block;"> - 9590331111</span>
				<br>
				<!-- 
					<a href="#"><i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i> <span style="color: gray">Visa</span></a> 
				-->
			</div>
		</div>

	</div>
	<hr>
	<center>
			<span>
				<b>Copyright© 2017</b>, Sure Cabs tours and travels <br>
				Bangalore, Karnataka (INDIA), 
			</span><br>
			<span style="color: black">Powered by <b><a href="https://limestonemedia.in/en/">Limestone Media Solutions</a></b></span>
	</center>
</footer>