{% extends "base.html" %}
{% load staticfiles %}
<!--CONTAINER-->
{% block carousel %} 
  {% include "carousels/carousel-home.html" %}
{% endblock %}

{% block container %}


<div class="row">
    <!--Column 1-->
    <div class="col-md-7  col-xs-12" style="background-color: #fef5f5">
        <center><h2 style="font-weight: bold; font-family:tahoma; color: #CF000F; padding-bottom: 10px"><i class="fa fa-car" aria-hidden="true"></i> BOOK YOUR CAB</h2></center>
        <hr>
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#menu1"  style="color:black; font-weight: bold;">OUTSTATION</a></li>
          <li><a data-toggle="tab" href="#home" style="color:black; font-weight: bold;">LOCAL</a></li>
        </ul>

        <div class="tab-content" id="tab-content">
          <br>

          <div id="menu1" class="tab-pane fade in active">
          
            {% include "book-form.html" %} 
          </div>
          <div id="home" class="tab-pane fade">
            {% include "local_specification.html" %}
          </div>
        </div>
    </div>
    <!--Column 2-->
    <div class="col-md-5 col-xs-12" style="background-color: #fef5f5; min-height: 650px">
        <!-- <hr> -->
        <h1 style="color: #CF000F"><i class="fa fa-book" aria-hidden="true"></i> Specialities </h1>
        <br>
        <marquee style="color:maroon;  text-align: center; font-family: tahoma; font-weight: bold" height=225 width=100% direction="up"  bgcolor="pink" scrolldelay="2">
              We give you offers
              <img class="featurette-image img-responsive center-block" src="{% static './images/tt.png' %}" alt="Force" style="width: 100%; min-height: 100px" />
              <br>

              Use whats app to contact
              <img class="featurette-image img-responsive center-block" src="{% static 'images/WhatsApp-logo.png' %}" alt="Force" style="width: 70%; min-height: 100px" />
              <br>
               Join us on facebook
              <img class="featurette-image img-responsive center-block" src="{% static 'images/facebook.png' %}" alt="Bosch" style="width: 70%" />
              <br>
              Join us on twitter
              <img class="featurette-image img-responsive center-block" src="{% static 'images/twitter2.jpg' %}" alt="Bosch" style="width: 70%" />
              <br>
              <!-- Feel free to share the feedbacks -->
            <!--   <img class="featurette-image img-responsive center-block" src="" alt="Bizol" style="width: 50%" /> -->
          </marquee>
          <marquee style="font-family:Book Antiqua; color:white; padding:10px; text-align: center; font-family: tahoma; font-weight: bold; min-height: 260px" height=225 direction="down"  bgcolor="#CF000F" scrolldelay="90" >
          <img src="{% static './images/callmycab_header.jpg' %}" alt="FEATURES" style="width: 50%"><br>
          Don't miss offers &amp; save money<br><br>

            <img src="{% static 'images/contact_1.jpg' %}" alt="FEATURES" style="width: 70%; height: 150px"><br>
            We are always ready to serve<br><br>

            <img src="{% static 'images/car_2.jpg' %}" alt="FEATURES" style="width: 70%"><br>
            Low cost and full gaurantee<br><br>

            <img src="{% static 'images/enova_3.jpg' %}" alt="FEATURES" style="width: 70%"><br>
            We provide Innovas<br> <br>

            <img src="{% static 'images/bus_4.jpg' %}" alt="FEATURES" style="width: 70%"><br>
            We provide buses<br>

          </marquee> 
    </div>
</div>
<hr>

          <!-- Images on home -->
          {% include "tabcontents/day_trips.html" %}




<!--
  SURECABS OWNERS - PRAMILA RAMAMURTHY AND HUSBAND
  SURECABS GUIDES - G RATHNAKARA SIR(NETWORK ENGINEER), ARJUN T SIR(CEO at OFFLINETREND)
  SURECABS DEVELOPER - RISHIKESH AGRAWANI 
  LANGUAGE USED FOR BACKEND - Python 2.7.13
  FRAMEWORK USED - DJANGO 1.11.2
  DEPLOYED ON - 22 AUGUST 2017
  DEVELOPED AT - OFFLINETREND SOLUTIONS PVT LTD
  PURPOSE - PEOPLE CAN BOOK VEHICLES(INNOVAS/TEMPO TRAVELLERS/BUSES/MINI BUSES) FOR TOURS OR OTHER PURPOSE EITHER BY DIRECT CALL OR BY FILLING ONLINE FORM.
--> 
{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}

{% endblock js_head %}

<!--CSS(s)-->
{% block css %}

  <style type="text/css">
      

      * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }
       
        .itemzoom2 {
          position: relative;
          overflow: hidden;
          padding-bottom: 10px;
          /*width: 540px;*/
          box-shadow:2px 4px 8px 2px rgba(255, 0, 0, 0.3), 0 6px 20px 0 rgba(100, 0, 0, 0.19);
        }

        @media only screen and (max-width: 768px){
          .details{
            text-align: left;
          }
          body{
            /*background-color:#f2f2f2;*/
          }
          #card div .details{
            text-align: left;
          }
          .itemzoom #break {
            color: red;
          }

          #myCarousel{
            max-height: 350px;
          }
          .carousel .item {
              height: 350px;
            }

            .item img {
                position: absolute;
                top: 0;
                left: 0;
                min-height: 350px;
            }
        }

        #datepicker2, #datepicker, #autocomplete3, #autocomplete,#datepicker3, #datepicker4, #autocomplete4, #autocomplete2{
          border: 1px solid black;
        }

        #datepicker2:hover, #datepicker:hover, #autocomplete:hover, #autocomplete3:hover,#datepicker4:hover, #datepicker3:hover, #autocomplete4:hover, #autocomplete2:hover{
          border: 1px solid orange;
          font-family: tahoma;
        }

        #sign_up{
          font-weight: bold;
        }

        #sure_cabs{
          color:green;

        }
        #profile_pic:hover{
          width: 31px;
          height: 31px;
        }

        #card:hover{
          background-color: white;
          box-shadow:0 0px 4px 1px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        #comment_here{
          color:gray;
          margin-top: 0px;
          padding-top: 0px;
        }

        #contact_number{
          color: gray;
          font-weight: bold;
        }

        #comment_top{color: green;}

        #ask_que{
          color: #2c3e50;
          font-weight: bold;
          font-size: 25px;
        }

        img.iconf:hover{
          height: 31px;
          width: 31px;
        }

        body{
          /*background-color: #f7f7fa;*/
        }

        /*For place descriptions*/
        #p_head{
          font-size: 30px;
          font-weight: bold;
        }

        #p_desc{
          text-align: justify;
          font-size: 17px;
          font-family:lucida;
          color: #34495e;
        }

         .p_head2{
          font-size: 15px;
          font-weight: bold;
          /*font-family: tahoma;*/
        }

        .p_desc2{
          text-align: justify;
          font-size: 13px;
          font-family:tahoma;
          color:#34495e;
        }

        img.bangalore{
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        img.bangalore:hover{
          box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        ul.places li, ol li{
          margin: 13px;
        }
        .best-time-for-mysore{
          color:#5c3d4d;
        }

        #sure_travels{
        color:lightblue;
      }
      
      #sure_tips{
        color: #d4dfe3;
        font-size: 17px;
      }

      #sure_site a{
        font-size: 18px;
        color: lightgreen;
      }

      .p_marquee{
        text-align: center; 
        color:#ecf0f1;
      }

      #marquee div {
        width: 240px; 
        height: 200px; 
        display: inline-block;
      }

      #marquee div h1:hover{
          color: lightgreen;
      }

  </style>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}

      <!-- <script type="text/javascript">
        function checkContact(contact){
            if(contact === null || contact === undefined) {
                        alert("You will have to login to book the cab")
                        document.location.href="/v1/login-new"
            }
        }
        
        $(document).ready(function(){
            var contact = localStorage.getItem("contact")

            $("#select, #autocomplete2, #autocomplete, #autocomplete4, #autocomplete3, #datepicker, #datepicker2, #datepicker3, #datepicker4").click(function(){
                checkContact(contact)
            });
        });
      </script> -->

      <script>
          $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();   
          });
      </script>

  <!--DATE PICKER-->
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="{% static 'js/book.js' %}"></script>
      <script>
      $( function() {
        $( "#datepicker" ).datepicker({ minDate: 0});
        $( "#datepicker2" ).datepicker({ minDate: 0});
        // $( "#datepicker3" ).datepicker();
        $( "#datepicker3" ).datepicker({minDate: 0});
        $( "#datepicker4" ).datepicker({minDate: 0});
      } );
      </script> 
  <!--DATE PICKER ENDS-->
      {% include "auto-address.html" %}

{% endblock js_body %}

{% block footer %}
    {% include "footer.html" %}
{% endblock footer %}
