{% extends "base.html" %}
{% load staticfiles %}


{% block container %}
      
      {% if request.path == "/v1/images/bangalore-city-tour/" %}
          {% include "places/bangalore_city_tour.html" %}
      {% elif request.path == "/v1/images/mysore/" %}
           {% include "places/mysore.html" %}
      {% elif request.path == "/v1/images/nandi-hills/" %}
           {% include "places/nandi_hills.html" %}  
      {% elif request.path == "/v1/images/air-port/" %}
           {% include "places/air_port.html" %}
      {% elif request.path == "/v1/images/shivanasamudra-hills/" %}
           {% include "places/shivanasamudra.html" %}
      {% elif request.path == "/v1/images/talakadu/" %}
           {% include "places/talakadu.html" %}
      {% elif request.path == "/v1/images/hogenakkal/" %}
           {% include "places/hogenakkal.html" %}
      {% elif request.path == "/v1/images/chitradurga/" %}
           {% include "places/chitradurga.html" %}
      {% elif request.path == "/v1/images/lepakshi/" %}
           {% include "places/lepakshi.html" %}
      {% elif request.path == "/v1/images/yelagiri/" %}
           {% include "places/yelagiri.html" %}
      {% elif request.path == "/v1/images/kolar/" %}
           {% include "places/kolar.html" %}
      {% elif request.path == "/v1/images/talakadu/" %}
            {% include "places/talakadu.html" %}
      {% elif request.path == "/v1/images/velankanni-images/" %}
            {% include "places/velankanni.html" %}
      {% else %}
          {% include "404.html" %}
      {% endif %}
{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}

{% endblock js_head %}

<!--CSS(s)-->
{% block css %}
  <!-- <link rel="stylesheet" href="{% static './css/carousel.css' %}" > -->
  <style type="text/css">
  	    * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }

       	.itemzoom2 {
          position: relative;
          
          /*border: 1px solid #333;*/
          /*margin: 2%;*/
          overflow: hidden;
          padding-bottom: 10px;
          /*width: 540px;*/
          box-shadow:2px 4px 8px 2px rgba(0, 200, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        @media only screen and (max-width: 768px){
        	.details{
        		text-align: left;
        	}
        	body{
        		/*background-color:#f2f2f2;*/
        	}
        	#card div .details{
       			text-align: left;
      		}
        	
        }

        #fname, #email, #message, #contact{
        	border: 1px solid black;

        }

        #fname:hover, #email:hover, #message:hover, #contact:hover{
        	border: 1px solid green;
        	font-family: tahoma;
        }
        #profile_pic:hover{
        	width: 31px;
        	height: 31px;
        }

        #card:hover{
        	background-color: white;
        	box-shadow:0 0px 4px 1px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
       	
       	#comment_here{
       		color:gray;
       	}

       	#contact_number{
       		color: gray;
       		font-weight: bold;
       	}

       	#comment_top{color: green;}

       	#ask_que{
       		color: #2c3e50;
       		font-weight: bold;
       		font-size: 25px;
       	}
  </style>
{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}
  <script>
  		$(document).ready(function(){
  		    $('[data-toggle="tooltip"]').tooltip();   
  		});
  </script>

  {% include 'send_contact_details.html' %}
{% endblock js_body %}

{% block footer %}
	{% include "footer.html" %}
{% endblock footer %}
