{% extends "base.html" %}
{% load staticfiles %}

{% block carousel %}

{% endblock %}



<!--CONTAINER-->
{% block container %}
	<div class="row">
          <hr>
          <!-- Images on home -->
          {% include 'tabcontents/local_booking.html' %}

	</div>
    <hr>
 <!--
  SURECABS OWNERS - PRAMILA RAMAMURTHY AND HUSBAND
  SURECABS GUIDES - G RATHNAKARA SIR(NETWORK ENGINEER), ARJUN T SIR(CEO at OFFLINETREND)
  SURECABS DEVELOPER - RISHIKESH AGRAWANI 
  LANGUAGE USED FOR BACKEND - Python 2.7.13
  FRAMEWORK USED - DJANGO 1.11.2
  DEPLOYED ON - 22 AUGUST 2017
  DEVELOPED AT - OFFLINETREND SOLUTIONS PVT LTD (BANGALORE)
  PURPOSE - PEOPLE CAN BOOK VEHICLES(INNOVAS/TEMPO TRAVELLERS/BUSES/MINI BUSES) FOR TOURS EITHER BY DIRECT CALL OR BY FILLING ONLINE FORM.
--> 
{% endblock container %}

<!--JAVASCRIPT(s)-->

{% block js_head %}
 
{% endblock js_head %}


<!--CSS(s)-->
{% block css %}
  <style type="text/css">
          
        @media only screen and (max-width: 768px){
          .{
            text-align: left;
          }
          
        }

        input, select{
          border: 1px solid green;
          padding:3px;
          font-size: 15px;
          border-radius: 4px;
        }

        input:hover, select:hover{
          border: 1px solid black;
          font-family: tahoma;
        }

  </style>

 
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">


{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}
      <!-- <script type="text/javascript">
        function checkContact(contact){
            if(contact === null || contact === undefined) {
                        alert("You will have to login to book the cab")
                        localStorage.setItem("redirect_url", ""+location.pathname)
                        document.location.href="/v1/login-new"
            }
        }
        
        $(document).ready(function(){
            var contact = localStorage.getItem("contact")

            $("#select, #autocomplete2, #autocomplete, #autocomplete4, #autocomplete3, #datepicker, #datepicker2, #datepicker3, #datepicker4").click(function(){
                checkContact(contact)
            });
        });
      </script> -->

      <script>
          $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();   
          });
      </script>

  <!--DATE PICKER-->
      {% include "send_local_booking_details.html" %}
{% endblock js_body %}

{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}
