{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SureCabs - Logout</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <center>
    <br>
    <br>
    <br>
    <a href="/" >
      <img src="{% static 'images/NEW_LOGO.jpg' %}" style="width: 30%; border-radius: 80%">
    </a>
    <br>
    <br>
    <img src="{% static 'images/logout.png' %}" style="width:50%; height: 50%">
    
    <br>
    <br>

   Visit SureCabs at <a href="/">{{request.scheme}}://{{request.get_host}}</a>
</center>


</div>

<script type="text/javascript">
function deleteCookie(){
  // document.cookie = "SureCabs_OfflineTrend_Cookie=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      if (localStorage.getItem("contact") == null || localStorage.getItem("contact") == undefined) {
          alert("You are already logged out")
          document.location.href = "/"
      } else {
          localStorage.removeItem("contact")
          alert("Successfully logged out")
      }
}
    
deleteCookie()

</script>
</body>
</html>
