{% extends "base.html" %}
{% load staticfiles %}

<!--CONTAINER-->
{% block carousel %}
	{% include "carousels/carousel-offers.html" %}
{% endblock %}

{% block container %}
		<div class="row">
    <h2 class="text-center" id="comment_here" data-toggle="tooltip" title="Check latest offers" style="color: #CF000F"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Offers</h2>
    <hr>
    
      <!-- <center>
          <img src="{% static './images/no-offers.png' %}" class="img-responsive">
      </center> -->
      <center>
          <h1 style="color:red; font-family: tahoma; font-weight: bold">We offer 5% discount for our existing members</h1>
          <hr>
      </center>
			<!-- <div class="col-md-3 col-xs-12 col-sm-6">
			
			
				  <div class="itemzoom2" style="padding:5px">
            <center>
              <h3>Car</h3>
            </center>

					  <img src="https://upload.wikimedia.org/wikipedia/commons/5/54/UPS_truck_-804051.jpg"  alt="Car" class="img-responsive">
            <br>
            <p>
                Dbbdd gdgdggd dggdgdg sgsgsg ssfsffs
            </p>
            <h5>Posted on &raquo; 22 July 2017</h5>
					</div>

			</div>
      <div class="col-md-3 col-xs-12 col-sm-6">
      
      
          <div class="itemzoom2" style="padding:5px">
            <center>
              <h3>Car</h3>
            </center>

            <img src="https://upload.wikimedia.org/wikipedia/commons/5/54/UPS_truck_-804051.jpg"  alt="Car" class="img-responsive">
            <br>
            <p>
                Dbbdd gdgdggd dggdgdg sgsgsg ssfsffs
            </p>
            <h5>Posted on &raquo; 22 July 2017</h5>
          </div>
          
      </div>

      <div class="col-md-3 col-xs-12 col-sm-6">
      
      
          <div class="itemzoom2" style="padding:5px">
            <center>
              <h3>Car</h3>
            </center>

            <img src="https://upload.wikimedia.org/wikipedia/commons/5/54/UPS_truck_-804051.jpg"  alt="Car" class="img-responsive">
            <br>
            <p>
                Dbbdd gdgdggd dggdgdg sgsgsg ssfsffs
            </p>
            <h5>Posted on &raquo; 22 July 2017</h5>
          </div>
          
      </div> -->
<!-- 
      <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="itemzoom2" style="padding:5px">
            <center>
              <h3>Truck - 5% Off</h3>
            </center>

            <img src="https://upload.wikimedia.org/wikipedia/commons/5/54/UPS_truck_-804051.jpg"  alt="Car" class="img-responsive">
            <br>
            <p>
               Available for 1-5 members. Enjoy this. It will expire on 13 November 2017. 
            </p>
            <h5><span style="color: green; font-weight: bold">Posted on </span>&raquo; 22 July 2017</h5>
          </div>
          
      </div> -->

      
      {% for offer in offers %}
        <div class="col-md-3 col-xs-12 col-sm-6">
        
        
            <div class="itemzoom2" style="padding:5px">
              <center>
                <h3 style="height: 50px">{{offer.title}}</h3>
                <hr>
              </center>
              <center>
              <img src="{{offer.image.url}}"  style="height:160px" alt="Car" class="img-responsive">
              </center>
              <br>
              <p style="padding:5px">
                  {{offer.offer_message}}
              </p>
              <!-- <h5><span style="color: green; font-weight: bold">Posted on </span>&raquo; {{offer.created_at}}</h5> -->
            </div>
            
        </div>
      {% endfor %}
    
		</div>
		
		<hr>
		<!-- <div class="row"> -->
			
		<!-- </div> -->		
{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}

{% endblock js_head %}

<!--CSS(s)-->
{% block css %}
  <!-- <link rel="stylesheet" href="{% static './css/carousel.css' %}" > -->
  <style type="text/css">
  	    * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }

     
       
       	.itemzoom2 {
          position: relative;
          
          /*border: 1px solid #333;*/
          /*margin: 2%;*/
          overflow: hidden;
          padding-bottom: 10px;
          /*width: 540px;*/
          box-shadow:2px 4px 8px 2px rgba(200, 255, 240, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .itemzoom2:hover {
              box-shadow:2px 4px 8px 2px rgba(239, 200, 200, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }

        @media only screen and (max-width: 768px){
        	.details{
        		text-align: left;
        	}
        	body{
        		/*background-color:#f2f2f2;*/
        	}
        	#card div .details{
       			text-align: left;
      		}
        	
        }

        #fname, #email, #question, #contact{
        	border: 1px solid black;

        }

        #fname:hover, #email:hover, #question:hover, #contact:hover{
        	border: 1px solid green;
        	font-family: tahoma;
        }
        #profile_pic:hover{
        	width: 31px;
        	height: 31px;
        }

        #card:hover{
        	background-color: white;
        	box-shadow:0 0px 4px 1px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
       	
       	#comment_here{
       		color:gray;
       	}

       	#contact_number{
       		color: gray;
       		font-weight: bold;
       	}

       	#comment_top{color: green;}

       	#ask_que{
       		color: #2c3e50;
       		font-weight: bold;
       		font-size: 25px;
       	}
  </style>
{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}
<script>
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();   
		});
</script>
{% endblock js_body %}

{% block footer %}
	{% include "footer.html" %}
{% endblock footer %}
