{% extends "base.html" %}
{% load staticfiles %}

{% block carousel %}
    {% include "carousels/carousel-register.html" %}
{% endblock %}



<!--CONTAINER-->
{% block container %}
    <div class="row" id="log-mobi">
      <div class="col-md-4 col-md-offset-4 col-xs-12">
      <hr>
      <h2 class="text-center" id="comment_here" data-toggle="tooltip" title="Join sure cabs" ><span id="sure_cabs">Join Sure Cabs</span> 
      </h2>

      <center>
        <span style="font-size:20px;color:black">Make your journey comfortable</span>
      </center>

      <hr>
        <div class="itemzoom2" style="padding:5px" >
            <br>
            <form method="POST" role="form" onsubmit="return register()" name="registerForm">
              <div class="form-group">
                <label for="contact"><span style="color: black"><i class="fa fa-mobile fa-1x" aria-hidden="true"></i> Contact Number</span >*</label>
                <input type="text" class="form-control" id="contact" placeholder="7917291992" name="contact" required="false" data-toggle="tooltip" title="Your contact number" required="true" maxlength="10" pattern="^([789])([0-9]{9})$" title="Mobile number(having 10 digits) should start with 7 or 8 or 9" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
              </div>
              
              <div class="form-group">
                <label for="password"><span style="color: black"><i class="fa fa-key" aria-hidden="true"></i> Password</span>*</label>
                <input type="password" class="form-control" id="password" placeholder="*********" name="password"  data-toggle="tooltip" title="Your password" maxlength="20" pattern="^(.*){4,20}$" title="Password should contain more than 4 charaters" required="true">
              </div>

              <div class="form-group">
                <label for="fname"><i class="fa fa-building-o" aria-hidden="true"></i> <span style="color:black">Full name</span></label>
                <input type="fname" class="form-control" id="fname" placeholder="Dolly Shemroon" name="fname"  data-toggle="tooltip" title="Your full name">
              </div>

              <div class="form-group">
                <label for="email"><span style="color: black"><i class="fa fa-envelope" aria-hidden="true"></i> Email</span>*</label>
                <input type="email" class="form-control" id="email" placeholder="sure.cabs@gmail.com" pattern="^.*@gmail.com$" name="email" data-toggle="tooltip" title="Your email id" required="true">
              </div>

            <!--   <div class="g-recaptcha" data-sitekey="6Lf0RCwUAAAAAM8oPYrBUKgzkQzKUTza-XojMhic"></div><br> -->

              <input type="submit" class="btn btn-block btn-danger" data-toggle="tooltip" title="Sign up and enjoy our service" id="sign_up" value="Sign Up">
            </form>
          </div>

          <hr>
          <center>
            <i class="fa fa-sign-in" aria-hidden="true"></i> <a href="/v1/login-new/">Already have an account</a>
          </center>
      </div>
    </div>
    <hr>  
 <!--
  SURECABS OWNERS - PRAMILA RAMAMURTHY AND HUSBAND
  SURECABS GUIDES - G RATHNAKARA SIR(NETWORK ENGINEER), ARJUN T SIR(CEO at OFFLINETREND)
  SURECABS DEVELOPER - RISHIKESH AGRAWANI 
  LANGUAGE USED FOR BACKEND - Python 2.7.13
  FRAMEWORK USED - DJANGO 1.11.2
  DEPLOYED ON - 22 AUGUST 2017
  DEVELOPED AT - OFFLINETREND SOLUTIONS PVT LTD (BANGALORE)
  PURPOSE - PEOPLE CAN BOOK VEHICLES(INNOVAS/TEMPO TRAVELLERS/BUSES/MINI BUSES) FOR TOURS EITHER BY DIRECT CALL OR BY FILLING ONLINE FORM.
--> 
{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}

{% endblock js_head %}

<!--CSS(s)-->
{% block css %}
  <style type="text/css">
        * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }
       
        .itemzoom2 {
          position: relative;
          overflow: hidden;
          padding-bottom: 10px;
          box-shadow:2px 4px 8px 2px rgba(0, 200, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        @media only screen and (max-width: 768px){
          .details{
            text-align: left;
          }
          body{
            /*background-color:#f2f2f2;*/
          }
          #card div .details{
            text-align: left;
          }
          .itemzoom #break {
            color: red;
          }

          #myCarousel{
            max-height: 350px;
          }
          .carousel .item {
              height: 350px;
            }

            .item img {
                position: absolute;
                top: 0;
                left: 0;
                min-height: 350px;
            }
        }

        #fname, #email, #password, #contact{
          border: 1px solid black;

        }

        #fname:hover, #email:hover, #password:hover, #contact:hover{
          border: 1px solid orange;
          font-family: tahoma;
        }
        #sign_up{
          font-weight: bold;
        }

        #sure_cabs{
          color:#CF000F;

        }
        #profile_pic:hover{
          width: 31px;
          height: 31px;
        }

        #card:hover{
          background-color: white;
          box-shadow:0 0px 4px 1px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        #comment_here{
          color:gray;
          margin-top: 0px;
          padding-top: 0px;
        }

        #contact_number{
          color: gray;
          font-weight: bold;
        }

        #comment_top{color: green;}

        #ask_que{
          color: #2c3e50;
          font-weight: bold;
          font-size: 25px;
        }
        #marquee div {
          width: 240px; 
          height: 200px; 
          display: inline-block;
        }
        #marquee div h1:hover{
          color: lightgreen;
        }
  </style>
{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>

<script type="text/javascript">
      function register(){

        try {
          console.log("Registering User")
          var fname = document.forms["registerForm"]["fname"].value;
          var email = document.forms["registerForm"]["email"].value;
          var password = document.forms["registerForm"]["password"].value;
          var contact = document.forms["registerForm"]["contact"].value;

          // var g_recatcha_response = grecaptcha.getResponse();

        } catch(exception) {
          alert("Something unexpected happened while fetching form fields")
          return
        }
        

        fetch('{{ request.scheme }}://{{request.get_host}}/register/submit/', {
          method: 'post',
          headers: {
            'Accept': 'application/json, text/plain, */*',
            'Content-Type': 'application/x-www-form-urlencoded',
            "Access-Control-Allow-Origin": "*"
          },
          body: JSON.stringify({
            fname: fname, 
            email: email, 
            contact: contact, 
            password: password,
            // g_recatcha_response: g_recatcha_response,
          })
        })
        .then(response=>response.json())
        .then(response => {
            console.log(response)
            console.log(typeof response)
            console.log(response.message)
            console.log("Registered")

            if (response.status == 200){ /* if */

                console.log("Fine")
                alert("Check your mail and confirm your account")
                location.href = "/v1/login-new/"
                return true
            } else { /* else */
                console.log("", response.log)

                alert(response.message)
                if(response.status = 700){ //Already registered
                  location.href = "/v1/login-new/"
                  return true
                }

                return false
            }
        })
        .catch(function(){
          console.log("Error")
          alert("Error")
        });

        return false
    }
</script>
{% endblock js_body %}

{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}
