{% load staticfiles %}
<center>
	<h3 style="color: red; font-size: 15px; margin-top: 100px">UNEXPECTED ACTION (It can be because of URL modification)</h3>
	<a href="/">GO BACK TO HOME</a>
	<br>
	<img src="{% static './images/unexperror.jpg' %}" class="img-responsive" width="60%">
	<br>
</center>