{% extends "base.html" %}
{% load staticfiles %}
{% load mathfilters %}

{% block container %}
    <br>
    <br>
    <br>

    <hr>
		<div class="row" >
      <!--LEFT-->
      <div class="col-md-4 col-xs-12" style="padding: 10px; padding-top: 0px">
        
          <!--TERMS AND CONDITIONS-->
          <div class="panel panel-danger">
            <div class="panel-heading" style="background-color: #CF000F"><center><span style="color:#fff; font-weight: bold; font-size: 20px;font-family: tahoma" data-toggle="tooltip" title="terms and conditions"><i class="fa fa-bell" aria-hidden="true"></i>  Terms &amp; conditions</span></center></div>
            <div class="panel-body">
              <ol>
                        <li class="li_terms">The Meter reading Days and Timings are calculated from office to office.</li>
                        <li class="li_terms">Out Station Minimum 300 kms per day, Otherwise the same will be charged. Day means Calender Day.</li>
                        <li class="li_terms">Extra Driver's bata for Out Station will be charged double. Driving between 10:00 pm to 6:00 am.</li>
                        <li class="li_terms">Drivers bata shall be applicable between 10.00 p.m - 6.00 a.m &amp; After 10 Hrs of Local Usage.</li>
                        <li class="li_terms">Extra Parking Fee, Tollgate and Permit (as per discussion) should be borne by Customer.</li>
                        <li class="li_terms">Package tours. are Including Driver Batta, Tollgate, Parking ∓ Inter State Permit.</li>
                        <li class="li_terms">For Local Use ( With in Bangalore ) In case, if it is more than 8 Hrs 80 Kms extra payment as to made according to extra Kms &amp; Hours.</li>
                        <li class="li_terms">The Rates are not valid during national holidays, Festivals, Long weekends and New Year.</li>
                </ol>
            </div>
          </div>
          <hr>
          <div class="panel panel-success">
            <div class="panel-heading" style="background-color: #CF000F"><center><span style="color:gray; font-weight: bold; font-size: 25px;font-family: tahoma; color:#fff" data-toggle="tooltip" title="Please contact us"><i class="fa fa-volume-control-phone" aria-hidden="true"></i>  For more clarification</span></center></div>
            <div class="panel-body">
                <center>
                    <h3  style="font-weight: bold; font-family: tahoma;color: green"><u>Contact us</u> </h3>
                    <h1 style="font-weight: bold; font-family: tahoma;color: black">9590331111</h1>
                </center>
            </div>
          </div>
          <hr>

          <div class="panel panel-info">
            <div class="panel-heading" style="background-color: #CF000F"><center><span style="color:gray; font-weight: bold; font-size: 25px;font-family: tahoma; color:#FFF;" data-toggle="tooltip" title="HEAD OFFICE ADDRESS"><i class="fa fa-building" aria-hidden="true"></i> HEAD OFFICE</span></center></div>
            <div class="panel-body">
                
                    <p  style=" font-family: arial;color: black; font-size: 15px; padding-left: 70px">
                        #2479, AECS Layout <br>
                        'A' BLOCK SINGSANDRA, <br>
                        NEAR SK SUPERMARKET, <br>
                        BANGALORE-560068
                    </p>
            </div>
          </div>
          <hr>

          <div class="panel panel-warning">
            <div class="panel-heading" style="background-color: #CF000F"><center><span style="color:gray; font-weight: bold; font-size: 25px;font-family: tahoma; color:white;" data-toggle="tooltip" title="BRANCH OFFICE"><i class="fa fa-thumb-tack" aria-hidden="true"></i> BRANCH OFFICE</span></center></div>
            <div class="panel-body">
                
                    <p  style=" font-family: arial;color: black; font-size: 15px; padding-left: 70px">
                        #3/7, Maruthi Nagar,<br>
                        Main road, Madivala, <br>
                        BTM 1st stage, <br>
                        BANGALORE-560068
                    </p>
                    
             
            </div>
          </div>
          <hr>
      </div>

      <!--RIGHT-->
			<div class="col-md-8 col-xs-12" style="background-color:#ffe6e6">
            <br>
            <br>
            <hr>
        
            {% for vehicle in vehicles %}
                {% with  vehicle.minimum_km_per_day|mul:vehicle.per_km_cost_for_ac|mul:days as cost1 %}

                {% with vehicle.driver_bata|mul:days as cost2 %}
      				    <div class="row" data-toggle="tooltip" title="{{vehicle.name}}">
                        <div class="col-md-4 col-xs-4">
                            <img src="{{ vehicle.image.url }}" class="img-responsive" style="max-height: 300px;">
                        </div>  
                        <div class="col-md-4 col-xs-4">
                            <p id="p_head">{{vehicle.name}}</p>
                            <p id="p-passangers"><span class="left"><i class="fa fa-free-code-camp" aria-hidden="true"></i> Capacity - </span><span style="color:gray; font-weight: bold">{{ vehicle.max_passengers }}+1</span></p>
                            
                            
                            <p id="p-passangers"><span class="left"><i class="fa fa-free-code-camp" aria-hidden="true"></i> Type - </span> 
                            {% if vehicle.ac_and_non_ac_facility %}
                              AC
                            {% else %}
                              NON AC
                            {% endif %} 
                            </p>
                            

                            <p id="p-passangers"><span class="left"><i class="fa fa-money" aria-hidden="true"></i> Cost - </span>Rs.{{ vehicle.per_km_cost_for_ac }}/km</p>
                            <p id="p-passangers"><span class="left"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i> Minimum km per day - </span>{{ vehicle.minimum_km_per_day }} km</p>

                            <p id="p-passangers"><span class="left"><i class="fa fa-adjust" aria-hidden="true"></i> Driver bata per day - </span>Rs. {{vehicle.driver_bata}}</p><br>
                            <!-- <hr> -->
                             <button class="btn btn-danger btn-block" onclick="setBookMe( {{vehicle.pk}}, {{cost1}}, {{cost2}})"><i class="fa fa-plus" aria-hidden="true"></i> Book me</button>

                           <!--   <a role="button" class="btn btn-block" id="quick_booking_button" href="/contact/#contact_now">Quick Book&nbsp;</a> -->
                             <br>
                             <br>
                             <hr>
                        </div>
                        <div class="col-md-4 col-xs-4" style="margin-left: 2px solid red; background-color: #ecf8ec"> 
                            <!-- <p>Date format &raquo; <span style="color: maroon; font-weight: bold">mm-dd-yyyy</span></p>
                             -->
                            <p style="color: gray; font-weight: bold; padding-top: 10px" data-toggle="tooltip" title="mm-dd-yyyy">
                              From &raquo; <span style="color:black">{{dot}}</span><br>
                             To &raquo; <span style="color:black">{{dor}}</span><br>
                              Booking for &raquo;  <span style="color:black">{{days}} days</span>
                            </p>
                            
                            <p style="color: gray; font-weight: bold; padding-top: 0px" data-toggle="tooltip" title="pickup time(HH:MM)">
                              Pickup time &raquo; <span style="color:black" class="pickup_time"></span><br>
                             
                            </p>
                            
                            <br>
                            {% if not vehicle.minimum_km_per_day == 0 %}
                               
                                      <p style="color: gray; font-weight: bold; padding-top: 1px">
                                        Total bata &raquo; <span style="color:black">{{cost2}}</span><br>
                                        Simple cost &raquo; <span style="color:black">{{cost1}}</span>
                                      </p>
                                      <hr>
                                      <p style="color: red; font-weight: bold; padding-top: 1px">
                                        <span style="color: red; font-size: 18px">Total Cost &raquo;</span> <span style="color:black">{{cost1|add:cost2}}</span>
                                      </p>
                                  
                            {% else %}
                              <p style="color: red; font-weight: bold; padding-top: 1px">
                              Total Cost &raquo; <span style="color:black">0 </span><span style="color: green">(Please confirm this booking with call)</span>
                            </p>
                            {% endif %}
                            <!-- <hr> -->
                        </div>
                  </div>

  <!--
                  {% if vehicle.ac_and_non_ac_facility %}
                      <div class="row" data-toggle="tooltip" title="{{vehicle.name}}">
                                    <div class="col-md-4 col-xs-6">
                                        <img src="{{ vehicle.image.url }}" class="img-responsive" style="max-height: 300px;">
                                     
                                    </div>  
                                    <div class="col-md-8 col-xs-6">
                                        <p id="p_head">{{vehicle.name}}</p>
                                        <p id="p-passangers"><span class="left"><i class="fa fa-free-code-camp" aria-hidden="true"></i> Capacity - </span><span style="color:green; font-weight: bold">{{ vehicle.max_passengers}}+1</span></p>
                                        

                                        {% if vehicle.ac_and_non_ac_facility %}
                                          <p id="p-passangers"><span class="left"><i class="fa fa-free-code-camp" aria-hidden="true"></i> Types - </span> NON AC</p>
                                        {% endif %}

                                        <p id="p-passangers"><span class="left"><i class="fa fa-money" aria-hidden="true"></i> Cost - </span>Rs.{{ vehicle.per_km_cost_for_non_ac}}/km</p>
                                        <p id="p-passangers"><span class="left"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i> Minimum km per day - </span>{{ vehicle.minimum_km_per_day}} km</p>

                                        <p id="p-passangers"><span class="left"><i class="fa fa-adjust" aria-hidden="true"></i> Driver bata per day - </span>Rs. {{vehicle.driver_bata}}</p><br>

                                         <button class="btn btn-danger"><i class="fa fa-plus" aria-hidden="true"></i> Book me</button>
                                         <hr>
                                    </div>
                      </div>
                  {% endif %} -->
                   {% endwith %}
          {% endwith %}
      {% endfor %}
           
           <hr> 
      </div>
    
    </div>
	  <hr>
<!--
  SURECABS OWNERS - PRAMILA RAMAMURTHY AND HUSBAND
  SURECABS GUIDES - G RATHNAKARA SIR(NETWORK ENGINEER), ARJUN T SIR(CEO at OFFLINETREND)
  SURECABS DEVELOPER - RISHIKESH AGRAWANI 
  LANGUAGE USED FOR BACKEND - Python 2.7.13
  FRAMEWORK USED - DJANGO 1.11.2
  DEPLOYED ON - 22 AUGUST 2017
  DEVELOPED AT - OFFLINETREND SOLUTIONS PVT LTD (BANGALORE)
  PURPOSE - PEOPLE CAN BOOK VEHICLES(INNOVAS/TEMPO TRAVELLERS/BUSES/MINI BUSES) FOR TOURS EITHER BY DIRECT CALL OR BY FILLING ONLINE FORM.
--> 
{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}

{% endblock js_head %}

<!--CSS(s)-->
{% block css %}
  <!-- <link rel="stylesheet" href="{% static './css/carousel.css' %}" > -->
  <style type="text/css">
  	    * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }

        @media only screen and (max-width: 768px) {
        	.details{
        		text-align: left;
        	}

        	body{
        		/*
                background-color:#f2f2f2;
            */
        	}
        	
        	
          #myCarousel{
            max-height: 350px;
          }

          .carousel .item {
              height: 350px;
          }

          .item img {
                position: absolute;
                top: 0;
                left: 0;
                min-height: 350px;
          }
        }

        #p_head{
          font-size: 25px;
          font-weight: bold;
        }
        /* 
            #p_desc{
                text-align: justify;
                font-size: 17px;
                font-family:lucida;
                color: #34495e;
            }
        */
        h3{
          font-family: sans-serif;
        }

        body{
          background-color: white;
        }

        .left{
          font-weight: bold;
          color:black;
        }

        p{
          margin: 0px;
        }

        #quick_booking_button{
          background-color: pink;
          border: 1px solid black;
          color: black;
          font-weight: bold;
        }

        #quick_booking_button:hover{
          background-color: ;
          border: 1px solid gray;
          color: gray;
        }

        .li_terms{
          margin:10px; font-family: tahoma; color: #333300
        }
  </style>
{% endblock css %}
 
<!-- BODY JAVASCRIPT(s) -->
{% block js_body %}
<script>
    var hours = localStorage.getItem("hours")
    var minutes = localStorage.getItem("minutes")
    var periods = localStorage.getItem("periods")
    if((hours == null || hours == undefined) || (minutes == null && minutes == undefined) || (  periods == null && periods == undefined)){
        alert("You did something unexpected, start booking again")
        location.href= "/"
    }else{
        // document.getElementById("pickup_time").innerHTML = ""+hours+":"+minutes;
        var pickup_times = document.getElementsByClassName("pickup_time")
        for(index in pickup_times){
          pickup_times[index].innerHTML = ""+hours+":"+minutes+" "+periods;
        }
    }

    function setBookMe(pk, cost1, cost2){
        try{

        console.log(pk)
          // if(localStorage.getItem("contact") == undefined || localStorage.getItem("contact") == null){
          //   localStorage.setItem("redirect_url", location.pathname)

            
          //   alert("You need to login")
          //   location.href="/v1/login-new/"
          //   return false
          // }

          localStorage.setItem("VechileId", pk)
          localStorage.setItem("days", "{{days}}")
          localStorage.setItem("cost1", cost1)
          localStorage.setItem("cost2", cost2)


          console.log("Item set")
          // alert("You selected the vehicle with id "+pk+" cost1 as "+cost1+" and cost2 as "+cost2)
          document.location.href="/v1/booking/booking-summary/"+localStorage.getItem("VechileId")+"/"
        } catch(err){
          console.log(err)
          alert("Error occured")
        }
    }

		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();   
		});
</script>
{% endblock js_body %}

{% block footer %}
	{% include "footer.html" %}
{% endblock footer %}
