{% extends "base.html" %}
{% load staticfiles %}
<!--CONTAINER-->
{% block carousel %}
	{% include "carousels/carousel-faq.html" %}
{% endblock %}

{% block container %}
    <!-- Comment started -->

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Comment ended -->

		<div class="row">
			<div class="col-md-8  col-xs-12">
				<h2 class="text-center" id="comment_top" data-toggle="tooltip" title="Questions that people ask about us">Frequently asked questions </h2>
				<hr>
				{% for question in questions %}
							<!-- 
                  <center>
    								<h3 style="color: green">Booked vehicle details</h3>
    								<hr>
    							</center> 
              -->
							<div class="row itemzoom"  id="card" style="min-height: 100px;padding:10px" data-toggle="tooltip" title="{{question.questioned_by}}">
								<div class="col-lg-5 col-sm-5 col-xs-12">
									<div class="row details" style="text-align: left; padding-left: 12px;">
										<i class="fa fa-question-circle-o" aria-hidden="true"></i> <span style="color:green">from</span> <h4><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{question.questioned_by}}</h4>
										<p>{{question.email}}</p>
										<!-- <p id="contact_number">+91 {{question.contact}}</p> -->
                    <hr>
                    
									</div>
								</div>
								
								<div class="col-lg-7 col-sm-7 col-xs-12">
									<span id="ask_que">Asks</span> &raquo;
									<b>At</b> {{question.questioned_at}}
									<hr>
									<p>{{question.question}}</p>
                  <hr>
								</div>	
                
              <hr>
              <!--Comment Box Is Here-->
              <div class="fb-comments" data-href="http://127.0.0.1:8000/faqs/" data-numposts="5"></div> 

							</div>	
              

				{% endfor %}
			</div>

			<div class="col-md-4 col-xs-12">
			<h2 class="text-center" id="comment_here" data-toggle="tooltip" title="Do write comment for us">Ask question </h2>
			<hr>
				<div class="itemzoom2" style="padding:5px">
						<br>
					  <form name="faqForm" method="post" role="form" onsubmit="return postAskedQuestion()">
					  	<div class="form-group">
					      <label for="fname">Full name*</label>
					      <input type="fname" class="form-control" id="fname" placeholder="Dolly Shemroon" name="fname" required="true" data-toggle="tooltip" title="Your full name">
					    </div>

					    <div class="form-group">
					      <label for="email">Email*</label>
					      <input type="email" class="form-control" id="email" placeholder="sure.cabs@gmail.com" name="email" required="true" data-toggle="tooltip" title="Your email id">
					    </div>

					    <div class="form-group">
					      <label for="contact">Contact Number*</label>
					      <input type="text" class="form-control" id="contact" placeholder="7917291992" name="contact" required="false" data-toggle="tooltip" title="Your contact number" required="true" maxlength="10" pattern="^([789])([0-9]{9})$" title="Mobile number(having 10 digits) should start with 7 or 8 or 9" oninput="this.value=this.value.replace(/[^0-9]/g,'');"/>
					    </div>

					    <div class="form-group">
					      <label for="question">Question*</label>
					      <textarea class="form-control" id="question" placeholder="Do ask your question here
" name="address" rows="8" data-toggle="tooltip" title="What do you wanna ask?" required="true"></textarea>
					    </div>
					    	
              <input type="submit" value="Ask Now" data-toggle="tooltip" title="Submit your question" class="btn btn-success btn-block" role="button"/>
              
					  </form>
					</div>
          <hr>
          <center>
            <i class="fa fa-users" aria-hidden="true"></i> <a href="/register/">Register (have an account)</a>
            <br>
            <i class="fa fa-sign-in" aria-hidden="true"></i> <a href="/login/">Sign in (Let me book now)</a>
          </center>
			</div>
		</div>
		
		<hr>

{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}

{% endblock js_head %}

<!--CSS(s)-->
{% block css %}
 
  <style type="text/css">
  	    * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }

        .itemzoom {
          position: relative;
          
          overflow: hidden;
          padding-bottom: 10px;
         
          box-shadow:0 4px 8px 0 rgba(0, 120, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
       
       	.itemzoom2 {
          position: relative;

          overflow: hidden;
          padding-bottom: 10px;
  
          box-shadow:2px 4px 8px 2px rgba(0, 0, 200, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        @media only screen and (max-width: 768px){
        	.details{
        		text-align: left;
        	}
        	body{
        		
        	}
        	#card div .details{
       			text-align: left;
      		}
        	.itemzoom #break {
        		color: red;
        	}
        }

        #fname, #email, #question, #contact{
        	border: 1px solid black;

        }

        #fname:hover, #email:hover, #question:hover, #contact:hover{
        	border: 1px solid green;
        	font-family: tahoma;
        }
        #profile_pic:hover{
        	width: 31px;
        	height: 31px;
        }

        #card:hover{
        	background-color: white;
        	box-shadow:0 0px 4px 1px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
       	
       	#comment_here{
       		color:gray;
       	}

       	#contact_number{
       		color: gray;
       		font-weight: bold;
       	}

       	#comment_top{color: green;}

       	#ask_que{
       		color: #2c3e50;
       		font-weight: bold;
       		font-size: 25px;
       	}
  </style>
{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}

<!--Google comment box started-->
<script src="https://apis.google.com/js/plusone.js"></script>

<script>
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();   
		});
</script>

<script type="text/javascript">
    // alert("{{ request.scheme }}://{{ request.get_host }}/faqs/submit/")
    // alert("{{request.get_host}} {{ request.path }}")
    function postAskedQuestion(){
        console.log("Frequently asked question")
        var fname = document.forms["faqForm"]["fname"].value;
        var email = document.forms["faqForm"]["email"].value;
        var contact = document.forms["faqForm"]["contact"].value;
        var question = document.forms["faqForm"]["question"].value;

        fetch('{{ request.scheme }}://{{request.get_host}}/faqs/submit/', {
          method: 'post',
          headers: {
            'Accept': 'application/json, text/plain, */*',
            'Content-Type': 'application/x-www-form-urlencoded'
          },
          body: JSON.stringify({
            fname: fname, 
            email: email, 
            contact: contact, 
            question: question})
        })
        .then(response=>response.json())
        .then(response => {
            console.log(response)
            console.log(typeof response)
            console.log(response.message)
            
            console.log("Done")

            if (response.status == 200){
                console.log("Fine")
                alert("Your question successfully sent")
                location.reload()
                return  true
            } else {
                console.log("That's great", response.log)
                alert(response.message)
                return false
            }
        })
        .catch(function(){
          console.log("Error")
          alert("Error")
        });

        return false
    }
</script>
{% endblock js_body %}

{% block footer %}
	{% include "footer.html" %}
{% endblock footer %}
