{% extends "base.html" %}
{% load staticfiles %}

{% block carousel %}

{% endblock %}



<!--CONTAINER-->
{% block container %}
	<div class="row">
          <hr>
          <!-- Images on home -->
          {% include 'tabcontents/local_booking.html' %}

	</div>
    <hr>
{% endblock container %}

<!--JAVASCRIPT(s)-->

{% block js_head %}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
    $( "#datepicker2" ).datepicker();
    $( "#datepicker3" ).datepicker();
    $( "#datepicker4" ).datepicker();
  } );
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js">
  </script>
{% endblock js_head %}


<!--CSS(s)-->
{% block css %}
  <style type="text/css">
          
        @media only screen and (max-width: 768px){
          .{
            text-align: left;
          }
          
        }

        input, select{
          border: 1px solid green;
          padding:3px;
          font-size: 15px;
          border-radius: 4px;
        }

        input:hover, select:hover{
          border: 1px solid black;
          font-family: tahoma;
        }

  </style>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">


{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}
      <script type="text/javascript">
        function checkContact(contact){
            if(contact === null || contact === undefined) {
                        alert("You will have to login to book the cab")
                        localStorage.setItem("redirect_url", ""+location.pathname)
                        document.location.href="/v1/login-new"
            }
        }
        
        $(document).ready(function(){
            var contact = localStorage.getItem("contact")

            $("#select, #autocomplete2, #autocomplete, #autocomplete4, #autocomplete3, #datepicker, #datepicker2, #datepicker3, #datepicker4").click(function(){
                checkContact(contact)
            });
        });
      </script>

      <script>
          $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();   
          });
      </script>

  <!--DATE PICKER-->
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="{% static 'js/book.js' %}"></script>
      <script>
      $( function() {
        $( "#datepicker" ).datepicker({ minDate: 0});
        $( "#datepicker2" ).datepicker({ minDate: 0});
        // $( "#datepicker3" ).datepicker();
        $( "#datepicker3" ).datepicker({minDate: 0});
        $( "#datepicker4" ).datepicker({minDate: 0});
      } );
      </script> 
  <!--DATE PICKER ENDS-->
      {% include "auto-address.html" %}
{% endblock js_body %}

{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}
