<div class="row">
  <div class="col-md-12 col-md-offset-1 col-xs-12">
        <div class="col-md-6 col-md-offset-3">
            <ul class="nav nav-pills">
              <li class="active"><a data-toggle="pill" href="#popular_destinations">Popular Places</a></li>
              <li><a data-toggle="pill" href="#weekend">Weekends</a></li>
              <li><a data-toggle="pill" href="#day_trip">Day trips</a></li>
              <li><a data-toggle="pill" href="#pilgrimage">Pilgrimages</a></li>
            </ul>
        </div>
        <div class="tab-content">
          <div id="popular_destinations" class="tab-pane fade in active">
            {% include "tabcontents/popular_destinations.html" %}
          </div>
          <div id="weekend" class="tab-pane fade">
            {% include "tabcontents/weekends.html" %}
          </div>
          <div id="day_trip" class="tab-pane fade">
            {% include "tabcontents/day_trips.html" %}
          </div>
          <div id="pilgrimage" class="tab-pane fade">
            {% include "tabcontents/pilgrimages.html" %}
          </div>
        </div>
  </div>
  <hr>
</div>