{% extends "base.html" %}

<!--CONTAINER-->
{% block container %}
		<H1 style="text-align: center">TRIAL</H1>
		<center>
			<p>Date: <input type="text" id="datepicker"></p>
		</center>
{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
{% endblock js_head %}

<!--CSS(s)-->
{% block css %}

{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}

{% endblock js_body %}
