<div class="row" class="vehicle_form">
          <div class="col-md-2 col-xs-2 text-center" style="background-color:#1abc9c; border-radius: 50%">
              <img src="https://cdn3.iconfinder.com/data/icons/transport-icons-2/512/BT_c3behind-128.png" style="width: 130%; height: 64px" class="img-responsive"  id="selected_vehicle"/>
          </div>
          <div class="col-md-2 col-xs-2 " style="background-color:#ff0066; border-radius: 50%">
              <img src="https://cdn3.iconfinder.com/data/icons/transport-icons-2/512/BT_c3behind-128.png" style="width: 100%; height: 64px" />
          </div>
          <div class="col-md-2 col-xs-2 " style="background-color:#ff6699; border-radius: 50%">
              <img src="https://cdn2.iconfinder.com/data/icons/car-11/100/taxi3-128.png" class="img-responsive" style="width: 100%; height: 64px"> 
          </div>
          <div class="col-md-2 col-xs-2 " style="background-color:#cc0066; border-radius: 50%">
              <img src="https://cdn0.iconfinder.com/data/icons/automobile-2-1/48/55-128.png" class="img-responsive" style="width: 100%; height: 64px" > 
          </div>
          <div class="col-md-2 col-xs-2 " style="background-color:#ff6699; border-radius: 50%">
              <img src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/16-128.png" class="img-responsive" style="width:100%; height:  64px"> 
          </div>
          <div class="col-md-2 col-xs-2 " style="background-color:#ff6666; border-radius: 50%">
              <img src="https://cdn3.iconfinder.com/data/icons/aviation-2/505/Aviation_63-128.png" style="width:100%; height: 64px"> 

          </div>
      </div>